.speakeasy/temp/
.DS_Store
/mcp-server
/bin
/.eslintcache
/.speakeasy/reports
/react-query
/__tests__
/funcs
/core.*
/esm
/dist
/.tshy
/.tshy-*
/models
/models/errors
/types
/lib
/sdk
/hooks
/index.*
/cjs
/node_modules
/.tsbuildinfo
