{"openapi":"3.0.3","info":{"title":"Dub API","description":"Dub is the modern link attribution platform for short links, conversion tracking, and affiliate programs.","version":"0.0.1","contact":{"name":"Dub Support","email":"support@dub.co","url":"https://dub.co/support"},"license":{"name":"AGPL-3.0 license","url":"https://github.com/dubinc/dub/blob/main/LICENSE.md"}},"servers":[{"url":"https://api.dub.co","description":"Production API"}],"paths":{"/links":{"post":{"operationId":"createLink","x-speakeasy-name-override":"create","x-speakeasy-usage-example":true,"summary":"Create a link","description":"Create a link for the authenticated workspace.","tags":["Links"],"security":[{"token":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"url":{"description":"The destination URL of the short link.","example":"https://google.com","maxLength":32000,"type":"string"},"domain":{"description":"The domain of the short link (without protocol). If not provided, the primary domain for the workspace will be used (or `dub.sh` if the workspace has no domains).","type":"string","maxLength":190},"key":{"description":"The short link slug. If not provided, a random 7-character slug will be generated.","type":"string","maxLength":190},"keyLength":{"description":"The length of the short link slug. Defaults to 7 if not provided. When used with `prefix`, the total length of the key will be `prefix.length + keyLength`.","type":"number","minimum":3,"maximum":190},"externalId":{"description":"The ID of the link in your database. If set, it can be used to identify the link in future API requests (must be prefixed with 'ext_' when passed as a query parameter). This key is unique across your workspace.","example":"123456","nullable":true,"type":"string","minLength":1,"maxLength":255},"tenantId":{"description":"The ID of the tenant that created the link inside your system. If set, it can be used to fetch all links for a tenant.","nullable":true,"type":"string","maxLength":255},"programId":{"description":"The ID of the program the short link is associated with.","nullable":true,"type":"string"},"partnerId":{"description":"The ID of the partner the short link is associated with.","nullable":true,"type":"string"},"prefix":{"description":"The prefix of the short link slug for randomly-generated keys (e.g. if prefix is `/c/`, generated keys will be in the `/c/:key` format). Will be ignored if `key` is provided.","type":"string"},"trackConversion":{"description":"Whether to track conversions for the short link. Defaults to `false` if not provided.","type":"boolean"},"archived":{"description":"Whether the short link is archived. Defaults to `false` if not provided.","type":"boolean"},"tagIds":{"description":"The unique IDs of the tags assigned to the short link.","example":["clux0rgak00011..."],"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"tagNames":{"description":"The unique name of the tags assigned to the short link (case insensitive).","anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"folderId":{"description":"The unique ID existing folder to assign the short link to.","nullable":true,"type":"string"},"comments":{"description":"The comments for the short link.","nullable":true,"type":"string"},"expiresAt":{"description":"The date and time when the short link will expire at.","nullable":true,"type":"string"},"expiredUrl":{"description":"The URL to redirect to when the short link has expired.","maxLength":32000,"nullable":true,"type":"string"},"password":{"description":"The password required to access the destination URL of the short link.","nullable":true,"type":"string"},"proxy":{"description":"Whether the short link uses Custom Link Previews feature. Defaults to `false` if not provided.","type":"boolean"},"title":{"description":"The custom link preview title (og:title). Will be used for Custom Link Previews if `proxy` is true. Learn more: https://d.to/og","nullable":true,"type":"string"},"description":{"description":"The custom link preview description (og:description). Will be used for Custom Link Previews if `proxy` is true. Learn more: https://d.to/og","nullable":true,"type":"string"},"image":{"description":"The custom link preview image (og:image). Will be used for Custom Link Previews if `proxy` is true. Learn more: https://d.to/og","nullable":true,"type":"string"},"video":{"description":"The custom link preview video (og:video). Will be used for Custom Link Previews if `proxy` is true. Learn more: https://d.to/og","nullable":true,"type":"string"},"rewrite":{"description":"Whether the short link uses link cloaking. Defaults to `false` if not provided.","type":"boolean"},"ios":{"description":"The iOS destination URL for the short link for iOS device targeting.","nullable":true,"type":"string","maxLength":32000},"android":{"description":"The Android destination URL for the short link for Android device targeting.","nullable":true,"type":"string","maxLength":32000},"geo":{"$ref":"#/components/schemas/linkGeoTargeting"},"doIndex":{"description":"Allow search engines to index your short link. Defaults to `false` if not provided. Learn more: https://d.to/noindex","type":"boolean"},"utm_source":{"description":"The UTM source of the short link. If set, this will populate or override the UTM source in the destination URL.","nullable":true,"type":"string"},"utm_medium":{"description":"The UTM medium of the short link. If set, this will populate or override the UTM medium in the destination URL.","nullable":true,"type":"string"},"utm_campaign":{"description":"The UTM campaign of the short link. If set, this will populate or override the UTM campaign in the destination URL.","nullable":true,"type":"string"},"utm_term":{"description":"The UTM term of the short link. If set, this will populate or override the UTM term in the destination URL.","nullable":true,"type":"string"},"utm_content":{"description":"The UTM content of the short link. If set, this will populate or override the UTM content in the destination URL.","nullable":true,"type":"string"},"ref":{"description":"The referral tag of the short link. If set, this will populate or override the `ref` query parameter in the destination URL.","nullable":true,"type":"string"},"webhookIds":{"description":"An array of webhook IDs to trigger when the link is clicked. These webhooks will receive click event data.","nullable":true,"type":"array","items":{"type":"string"}},"testVariants":{"nullable":true,"minItems":2,"maxItems":4,"type":"array","items":{"type":"object","properties":{"url":{"type":"string"},"percentage":{"type":"number","minimum":10,"maximum":90}},"required":["url","percentage"]},"description":"An array of A/B test URLs and the percentage of traffic to send to each URL.","example":[{"url":"https://example.com/variant-1","percentage":50},{"url":"https://example.com/variant-2","percentage":50}]},"testStartedAt":{"description":"The date and time when the tests started.","nullable":true,"type":"string"},"testCompletedAt":{"description":"The date and time when the tests were or will be completed.","nullable":true,"type":"string"},"publicStats":{"description":"Deprecated: Use `dashboard` instead. Whether the short link's stats are publicly accessible. Defaults to `false` if not provided.","deprecated":true,"type":"boolean"},"tagId":{"description":"Deprecated: Use `tagIds` instead. The unique ID of the tag assigned to the short link.","deprecated":true,"nullable":true,"type":"string"}},"required":["url"]}}}},"responses":{"200":{"description":"The created link","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LinkSchema"}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"422":{"$ref":"#/components/responses/422"},"429":{"$ref":"#/components/responses/429"},"500":{"$ref":"#/components/responses/500"}}},"get":{"operationId":"getLinks","x-speakeasy-name-override":"list","x-speakeasy-pagination":{"type":"offsetLimit","inputs":[{"name":"page","in":"parameters","type":"page"},{"name":"pageSize","in":"parameters","type":"limit"}],"outputs":{"results":"$"}},"summary":"Retrieve a list of links","description":"Retrieve a paginated list of links for the authenticated workspace.","tags":["Links"],"security":[{"token":[]}],"parameters":[{"in":"query","name":"domain","schema":{"description":"The domain to filter the links by. E.g. `ac.me`. If not provided, all links for the workspace will be returned.","type":"string"},"description":"The domain to filter the links by. E.g. `ac.me`. If not provided, all links for the workspace will be returned."},{"in":"query","name":"tagId","schema":{"description":"Deprecated: Use `tagIds` instead. The tag ID to filter the links by.","deprecated":true,"type":"string"},"description":"Deprecated: Use `tagIds` instead. The tag ID to filter the links by."},{"in":"query","name":"tagIds","schema":{"description":"The tag IDs to filter the links by.","anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"style":"form","explode":false,"description":"The tag IDs to filter the links by."},{"in":"query","name":"tagNames","schema":{"description":"The unique name of the tags assigned to the short link (case insensitive).","anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"style":"form","explode":false,"description":"The unique name of the tags assigned to the short link (case insensitive)."},{"in":"query","name":"folderId","schema":{"description":"The folder ID to filter the links by.","type":"string"},"description":"The folder ID to filter the links by."},{"in":"query","name":"search","schema":{"description":"The search term to filter the links by. The search term will be matched against the short link slug and the destination url.","type":"string"},"description":"The search term to filter the links by. The search term will be matched against the short link slug and the destination url."},{"in":"query","name":"userId","schema":{"description":"The user ID to filter the links by.","type":"string"},"description":"The user ID to filter the links by."},{"in":"query","name":"tenantId","schema":{"description":"The ID of the tenant that created the link inside your system. If set, will only return links for the specified tenant.","type":"string"},"description":"The ID of the tenant that created the link inside your system. If set, will only return links for the specified tenant."},{"in":"query","name":"showArchived","schema":{"default":false,"description":"Whether to include archived links in the response. Defaults to `false` if not provided.","type":"boolean"},"description":"Whether to include archived links in the response. Defaults to `false` if not provided."},{"in":"query","name":"withTags","schema":{"default":false,"description":"DEPRECATED. Filter for links that have at least one tag assigned to them.","deprecated":true,"type":"boolean"},"description":"DEPRECATED. Filter for links that have at least one tag assigned to them."},{"in":"query","name":"sortBy","schema":{"default":"createdAt","description":"The field to sort the links by. The default is `createdAt`.","type":"string","enum":["createdAt","clicks","saleAmount","lastClicked"]},"description":"The field to sort the links by. The default is `createdAt`."},{"in":"query","name":"sortOrder","schema":{"default":"desc","description":"The sort order. The default is `desc`.","type":"string","enum":["asc","desc"]},"description":"The sort order. The default is `desc`."},{"in":"query","name":"sort","schema":{"default":"createdAt","description":"DEPRECATED. Use `sortBy` instead.","deprecated":true,"type":"string","enum":["createdAt","clicks","saleAmount","lastClicked"]},"description":"DEPRECATED. Use `sortBy` instead."},{"in":"query","name":"page","schema":{"default":1,"description":"The page number for pagination.","example":1,"type":"number","minimum":0,"exclusiveMinimum":true},"description":"The page number for pagination."},{"in":"query","name":"pageSize","schema":{"default":100,"description":"The number of items per page.","example":50,"type":"number","minimum":0,"exclusiveMinimum":true,"maximum":100},"description":"The number of items per page."}],"responses":{"200":{"description":"A list of links","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LinkSchema"}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"422":{"$ref":"#/components/responses/422"},"429":{"$ref":"#/components/responses/429"},"500":{"$ref":"#/components/responses/500"}}}},"/links/count":{"get":{"operationId":"getLinksCount","x-speakeasy-name-override":"count","summary":"Retrieve links count","description":"Retrieve the number of links for the authenticated workspace.","tags":["Links"],"security":[{"token":[]}],"parameters":[{"in":"query","name":"domain","schema":{"description":"The domain to filter the links by. E.g. `ac.me`. If not provided, all links for the workspace will be returned.","type":"string"},"description":"The domain to filter the links by. E.g. `ac.me`. If not provided, all links for the workspace will be returned."},{"in":"query","name":"tagId","schema":{"description":"Deprecated: Use `tagIds` instead. The tag ID to filter the links by.","deprecated":true,"type":"string"},"description":"Deprecated: Use `tagIds` instead. The tag ID to filter the links by."},{"in":"query","name":"tagIds","schema":{"description":"The tag IDs to filter the links by.","anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"style":"form","explode":false,"description":"The tag IDs to filter the links by."},{"in":"query","name":"tagNames","schema":{"description":"The unique name of the tags assigned to the short link (case insensitive).","anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"style":"form","explode":false,"description":"The unique name of the tags assigned to the short link (case insensitive)."},{"in":"query","name":"folderId","schema":{"description":"The folder ID to filter the links by.","type":"string"},"description":"The folder ID to filter the links by."},{"in":"query","name":"search","schema":{"description":"The search term to filter the links by. The search term will be matched against the short link slug and the destination url.","type":"string"},"description":"The search term to filter the links by. The search term will be matched against the short link slug and the destination url."},{"in":"query","name":"userId","schema":{"description":"The user ID to filter the links by.","type":"string"},"description":"The user ID to filter the links by."},{"in":"query","name":"tenantId","schema":{"description":"The ID of the tenant that created the link inside your system. If set, will only return links for the specified tenant.","type":"string"},"description":"The ID of the tenant that created the link inside your system. If set, will only return links for the specified tenant."},{"in":"query","name":"showArchived","schema":{"default":false,"description":"Whether to include archived links in the response. Defaults to `false` if not provided.","type":"boolean"},"description":"Whether to include archived links in the response. Defaults to `false` if not provided."},{"in":"query","name":"withTags","schema":{"default":false,"description":"DEPRECATED. Filter for links that have at least one tag assigned to them.","deprecated":true,"type":"boolean"},"description":"DEPRECATED. Filter for links that have at least one tag assigned to them."},{"in":"query","name":"groupBy","schema":{"description":"The field to group the links by.","anyOf":[{"type":"string","enum":["domain"]},{"type":"string","enum":["tagId"]},{"type":"string","enum":["userId"]},{"type":"string","enum":["folderId"]}]},"description":"The field to group the links by."}],"responses":{"200":{"description":"A list of links","content":{"application/json":{"schema":{"type":"number","description":"The number of links matching the query."}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"422":{"$ref":"#/components/responses/422"},"429":{"$ref":"#/components/responses/429"},"500":{"$ref":"#/components/responses/500"}}}},"/links/info":{"get":{"operationId":"getLinkInfo","x-speakeasy-name-override":"get","summary":"Retrieve a link","description":"Retrieve the info for a link.","tags":["Links"],"security":[{"token":[]}],"parameters":[{"in":"query","name":"domain","schema":{"type":"string","minLength":1,"description":"The domain of the link to retrieve. E.g. for `d.to/github`, the domain is `d.to`."}},{"in":"query","name":"key","schema":{"type":"string","minLength":1,"description":"The key of the link to retrieve. E.g. for `d.to/github`, the key is `github`."}},{"in":"query","name":"linkId","schema":{"description":"The unique ID of the short link.","example":"clux0rgak00011...","type":"string"},"description":"The unique ID of the short link."},{"in":"query","name":"externalId","schema":{"description":"This is the ID of the link in the your database.","example":"123456","type":"string"},"description":"This is the ID of the link in the your database."}],"responses":{"200":{"description":"The retrieved link","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LinkSchema"}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"422":{"$ref":"#/components/responses/422"},"429":{"$ref":"#/components/responses/429"},"500":{"$ref":"#/components/responses/500"}}}},"/links/{linkId}":{"patch":{"operationId":"updateLink","x-speakeasy-name-override":"update","x-speakeasy-max-method-params":2,"summary":"Update a link","description":"Update a link for the authenticated workspace. If there's no change, returns it as it is.","tags":["Links"],"security":[{"token":[]}],"parameters":[{"in":"path","name":"linkId","schema":{"type":"string","description":"The id of the link to update. You may use either `linkId` (obtained via `/links/info` endpoint) or `externalId` prefixed with `ext_`."},"required":true,"description":"The id of the link to update. You may use either `linkId` (obtained via `/links/info` endpoint) or `externalId` prefixed with `ext_`."}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"url":{"description":"The destination URL of the short link.","example":"https://google.com","maxLength":32000,"type":"string"},"domain":{"description":"The domain of the short link (without protocol). If not provided, the primary domain for the workspace will be used (or `dub.sh` if the workspace has no domains).","type":"string","maxLength":190},"key":{"description":"The short link slug. If not provided, a random 7-character slug will be generated.","type":"string","maxLength":190},"externalId":{"description":"The ID of the link in your database. If set, it can be used to identify the link in future API requests (must be prefixed with 'ext_' when passed as a query parameter). This key is unique across your workspace.","example":"123456","nullable":true,"type":"string","minLength":1,"maxLength":255},"tenantId":{"description":"The ID of the tenant that created the link inside your system. If set, it can be used to fetch all links for a tenant.","nullable":true,"type":"string","maxLength":255},"programId":{"description":"The ID of the program the short link is associated with.","nullable":true,"type":"string"},"partnerId":{"description":"The ID of the partner the short link is associated with.","nullable":true,"type":"string"},"trackConversion":{"description":"Whether to track conversions for the short link. Defaults to `false` if not provided.","type":"boolean"},"archived":{"description":"Whether the short link is archived. Defaults to `false` if not provided.","type":"boolean"},"tagIds":{"description":"The unique IDs of the tags assigned to the short link.","example":["clux0rgak00011..."],"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"tagNames":{"description":"The unique name of the tags assigned to the short link (case insensitive).","anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"folderId":{"description":"The unique ID existing folder to assign the short link to.","nullable":true,"type":"string"},"comments":{"description":"The comments for the short link.","nullable":true,"type":"string"},"expiresAt":{"description":"The date and time when the short link will expire at.","nullable":true,"type":"string"},"expiredUrl":{"description":"The URL to redirect to when the short link has expired.","maxLength":32000,"nullable":true,"type":"string"},"password":{"description":"The password required to access the destination URL of the short link.","nullable":true,"type":"string"},"proxy":{"description":"Whether the short link uses Custom Link Previews feature. Defaults to `false` if not provided.","type":"boolean"},"title":{"description":"The custom link preview title (og:title). Will be used for Custom Link Previews if `proxy` is true. Learn more: https://d.to/og","nullable":true,"type":"string"},"description":{"description":"The custom link preview description (og:description). Will be used for Custom Link Previews if `proxy` is true. Learn more: https://d.to/og","nullable":true,"type":"string"},"image":{"nullable":true,"anyOf":[{"type":"string","pattern":"^data:image\\/(png|jpeg|jpg|gif|webp);base64,"},{"type":"string","format":"uri"}]},"video":{"description":"The custom link preview video (og:video). Will be used for Custom Link Previews if `proxy` is true. Learn more: https://d.to/og","nullable":true,"type":"string"},"rewrite":{"description":"Whether the short link uses link cloaking. Defaults to `false` if not provided.","type":"boolean"},"ios":{"description":"The iOS destination URL for the short link for iOS device targeting.","nullable":true,"type":"string","maxLength":32000},"android":{"description":"The Android destination URL for the short link for Android device targeting.","nullable":true,"type":"string","maxLength":32000},"geo":{"allOf":[{"$ref":"#/components/schemas/linkGeoTargeting"}]},"doIndex":{"description":"Allow search engines to index your short link. Defaults to `false` if not provided. Learn more: https://d.to/noindex","type":"boolean"},"utm_source":{"description":"The UTM source of the short link. If set, this will populate or override the UTM source in the destination URL.","nullable":true,"type":"string"},"utm_medium":{"description":"The UTM medium of the short link. If set, this will populate or override the UTM medium in the destination URL.","nullable":true,"type":"string"},"utm_campaign":{"description":"The UTM campaign of the short link. If set, this will populate or override the UTM campaign in the destination URL.","nullable":true,"type":"string"},"utm_term":{"description":"The UTM term of the short link. If set, this will populate or override the UTM term in the destination URL.","nullable":true,"type":"string"},"utm_content":{"description":"The UTM content of the short link. If set, this will populate or override the UTM content in the destination URL.","nullable":true,"type":"string"},"ref":{"description":"The referral tag of the short link. If set, this will populate or override the `ref` query parameter in the destination URL.","nullable":true,"type":"string"},"webhookIds":{"description":"An array of webhook IDs to trigger when the link is clicked. These webhooks will receive click event data.","nullable":true,"type":"array","items":{"type":"string"}},"testVariants":{"nullable":true,"minItems":2,"maxItems":4,"type":"array","items":{"type":"object","properties":{"url":{"type":"string"},"percentage":{"type":"number","minimum":10,"maximum":90}},"required":["url","percentage"]},"description":"An array of A/B test URLs and the percentage of traffic to send to each URL.","example":[{"url":"https://example.com/variant-1","percentage":50},{"url":"https://example.com/variant-2","percentage":50}]},"testStartedAt":{"description":"The date and time when the tests started.","nullable":true,"type":"string"},"testCompletedAt":{"description":"The date and time when the tests were or will be completed.","nullable":true,"type":"string"},"publicStats":{"description":"Deprecated: Use `dashboard` instead. Whether the short link's stats are publicly accessible. Defaults to `false` if not provided.","deprecated":true,"type":"boolean"},"tagId":{"description":"Deprecated: Use `tagIds` instead. The unique ID of the tag assigned to the short link.","deprecated":true,"nullable":true,"type":"string"}}}}}},"responses":{"200":{"description":"The updated link","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LinkSchema"}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"422":{"$ref":"#/components/responses/422"},"429":{"$ref":"#/components/responses/429"},"500":{"$ref":"#/components/responses/500"}}},"delete":{"operationId":"deleteLink","x-speakeasy-name-override":"delete","x-speakeasy-max-method-params":1,"summary":"Delete a link","description":"Delete a link for the authenticated workspace.","tags":["Links"],"security":[{"token":[]}],"parameters":[{"in":"path","name":"linkId","schema":{"type":"string","description":"The id of the link to delete. You may use either `linkId` (obtained via `/links/info` endpoint) or `externalId` prefixed with `ext_`."},"required":true,"description":"The id of the link to delete. You may use either `linkId` (obtained via `/links/info` endpoint) or `externalId` prefixed with `ext_`."}],"responses":{"200":{"description":"The deleted link ID.","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"The ID of the link."}},"required":["id"],"additionalProperties":false}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"422":{"$ref":"#/components/responses/422"},"429":{"$ref":"#/components/responses/429"},"500":{"$ref":"#/components/responses/500"}}}},"/links/bulk":{"post":{"operationId":"bulkCreateLinks","x-speakeasy-name-override":"createMany","summary":"Bulk create links","description":"Bulk create up to 100 links for the authenticated workspace.","tags":["Links"],"security":[{"token":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"url":{"description":"The destination URL of the short link.","example":"https://google.com","maxLength":32000,"type":"string"},"domain":{"description":"The domain of the short link (without protocol). If not provided, the primary domain for the workspace will be used (or `dub.sh` if the workspace has no domains).","type":"string","maxLength":190},"key":{"description":"The short link slug. If not provided, a random 7-character slug will be generated.","type":"string","maxLength":190},"keyLength":{"description":"The length of the short link slug. Defaults to 7 if not provided. When used with `prefix`, the total length of the key will be `prefix.length + keyLength`.","type":"number","minimum":3,"maximum":190},"externalId":{"description":"The ID of the link in your database. If set, it can be used to identify the link in future API requests (must be prefixed with 'ext_' when passed as a query parameter). This key is unique across your workspace.","example":"123456","nullable":true,"type":"string","minLength":1,"maxLength":255},"tenantId":{"description":"The ID of the tenant that created the link inside your system. If set, it can be used to fetch all links for a tenant.","nullable":true,"type":"string","maxLength":255},"programId":{"description":"The ID of the program the short link is associated with.","nullable":true,"type":"string"},"partnerId":{"description":"The ID of the partner the short link is associated with.","nullable":true,"type":"string"},"prefix":{"description":"The prefix of the short link slug for randomly-generated keys (e.g. if prefix is `/c/`, generated keys will be in the `/c/:key` format). Will be ignored if `key` is provided.","type":"string"},"trackConversion":{"description":"Whether to track conversions for the short link. Defaults to `false` if not provided.","type":"boolean"},"archived":{"description":"Whether the short link is archived. Defaults to `false` if not provided.","type":"boolean"},"tagIds":{"description":"The unique IDs of the tags assigned to the short link.","example":["clux0rgak00011..."],"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"tagNames":{"description":"The unique name of the tags assigned to the short link (case insensitive).","anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"folderId":{"description":"The unique ID existing folder to assign the short link to.","nullable":true,"type":"string"},"comments":{"description":"The comments for the short link.","nullable":true,"type":"string"},"expiresAt":{"description":"The date and time when the short link will expire at.","nullable":true,"type":"string"},"expiredUrl":{"description":"The URL to redirect to when the short link has expired.","maxLength":32000,"nullable":true,"type":"string"},"password":{"description":"The password required to access the destination URL of the short link.","nullable":true,"type":"string"},"proxy":{"description":"Whether the short link uses Custom Link Previews feature. Defaults to `false` if not provided.","type":"boolean"},"title":{"description":"The custom link preview title (og:title). Will be used for Custom Link Previews if `proxy` is true. Learn more: https://d.to/og","nullable":true,"type":"string"},"description":{"description":"The custom link preview description (og:description). Will be used for Custom Link Previews if `proxy` is true. Learn more: https://d.to/og","nullable":true,"type":"string"},"image":{"description":"The custom link preview image (og:image). Will be used for Custom Link Previews if `proxy` is true. Learn more: https://d.to/og","nullable":true,"type":"string"},"video":{"description":"The custom link preview video (og:video). Will be used for Custom Link Previews if `proxy` is true. Learn more: https://d.to/og","nullable":true,"type":"string"},"rewrite":{"description":"Whether the short link uses link cloaking. Defaults to `false` if not provided.","type":"boolean"},"ios":{"description":"The iOS destination URL for the short link for iOS device targeting.","nullable":true,"type":"string","maxLength":32000},"android":{"description":"The Android destination URL for the short link for Android device targeting.","nullable":true,"type":"string","maxLength":32000},"geo":{"$ref":"#/components/schemas/linkGeoTargeting"},"doIndex":{"description":"Allow search engines to index your short link. Defaults to `false` if not provided. Learn more: https://d.to/noindex","type":"boolean"},"utm_source":{"description":"The UTM source of the short link. If set, this will populate or override the UTM source in the destination URL.","nullable":true,"type":"string"},"utm_medium":{"description":"The UTM medium of the short link. If set, this will populate or override the UTM medium in the destination URL.","nullable":true,"type":"string"},"utm_campaign":{"description":"The UTM campaign of the short link. If set, this will populate or override the UTM campaign in the destination URL.","nullable":true,"type":"string"},"utm_term":{"description":"The UTM term of the short link. If set, this will populate or override the UTM term in the destination URL.","nullable":true,"type":"string"},"utm_content":{"description":"The UTM content of the short link. If set, this will populate or override the UTM content in the destination URL.","nullable":true,"type":"string"},"ref":{"description":"The referral tag of the short link. If set, this will populate or override the `ref` query parameter in the destination URL.","nullable":true,"type":"string"},"webhookIds":{"description":"An array of webhook IDs to trigger when the link is clicked. These webhooks will receive click event data.","nullable":true,"type":"array","items":{"type":"string"}},"testVariants":{"nullable":true,"minItems":2,"maxItems":4,"type":"array","items":{"type":"object","properties":{"url":{"type":"string"},"percentage":{"type":"number","minimum":10,"maximum":90}},"required":["url","percentage"]},"description":"An array of A/B test URLs and the percentage of traffic to send to each URL.","example":[{"url":"https://example.com/variant-1","percentage":50},{"url":"https://example.com/variant-2","percentage":50}]},"testStartedAt":{"description":"The date and time when the tests started.","nullable":true,"type":"string"},"testCompletedAt":{"description":"The date and time when the tests were or will be completed.","nullable":true,"type":"string"},"publicStats":{"description":"Deprecated: Use `dashboard` instead. Whether the short link's stats are publicly accessible. Defaults to `false` if not provided.","deprecated":true,"type":"boolean"},"tagId":{"description":"Deprecated: Use `tagIds` instead. The unique ID of the tag assigned to the short link.","deprecated":true,"nullable":true,"type":"string"}},"required":["url"]}}}}},"responses":{"200":{"description":"The created links","content":{"application/json":{"schema":{"type":"array","items":{"oneOf":[{"$ref":"#/components/schemas/LinkSchema"},{"$ref":"#/components/schemas/LinkErrorSchema"}]}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"422":{"$ref":"#/components/responses/422"},"429":{"$ref":"#/components/responses/429"},"500":{"$ref":"#/components/responses/500"}}},"patch":{"operationId":"bulkUpdateLinks","x-speakeasy-name-override":"updateMany","summary":"Bulk update links","description":"Bulk update up to 100 links with the same data for the authenticated workspace.","tags":["Links"],"security":[{"token":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"linkIds":{"default":[],"maxItems":100,"type":"array","items":{"type":"string"},"description":"The IDs of the links to update. Takes precedence over `externalIds`."},"externalIds":{"default":[],"maxItems":100,"type":"array","items":{"type":"string"},"description":"The external IDs of the links to update as stored in your database."},"data":{"type":"object","properties":{"url":{"description":"The destination URL of the short link.","example":"https://google.com","type":"string","maxLength":32000},"tenantId":{"description":"The ID of the tenant that created the link inside your system. If set, it can be used to fetch all links for a tenant.","nullable":true,"type":"string","maxLength":255},"programId":{"description":"The ID of the program the short link is associated with.","nullable":true,"type":"string"},"partnerId":{"description":"The ID of the partner the short link is associated with.","nullable":true,"type":"string"},"trackConversion":{"description":"Whether to track conversions for the short link. Defaults to `false` if not provided.","type":"boolean"},"archived":{"description":"Whether the short link is archived. Defaults to `false` if not provided.","type":"boolean"},"tagIds":{"description":"The unique IDs of the tags assigned to the short link.","example":["clux0rgak00011..."],"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"tagNames":{"description":"The unique name of the tags assigned to the short link (case insensitive).","anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"folderId":{"description":"The unique ID existing folder to assign the short link to.","nullable":true,"type":"string"},"comments":{"description":"The comments for the short link.","nullable":true,"type":"string"},"expiresAt":{"description":"The date and time when the short link will expire at.","nullable":true,"type":"string"},"expiredUrl":{"description":"The URL to redirect to when the short link has expired.","maxLength":32000,"nullable":true,"type":"string"},"password":{"description":"The password required to access the destination URL of the short link.","nullable":true,"type":"string"},"proxy":{"description":"Whether the short link uses Custom Link Previews feature. Defaults to `false` if not provided.","type":"boolean"},"title":{"description":"The custom link preview title (og:title). Will be used for Custom Link Previews if `proxy` is true. Learn more: https://d.to/og","nullable":true,"type":"string"},"description":{"description":"The custom link preview description (og:description). Will be used for Custom Link Previews if `proxy` is true. Learn more: https://d.to/og","nullable":true,"type":"string"},"image":{"description":"The custom link preview image (og:image). Will be used for Custom Link Previews if `proxy` is true. Learn more: https://d.to/og","nullable":true,"type":"string"},"video":{"description":"The custom link preview video (og:video). Will be used for Custom Link Previews if `proxy` is true. Learn more: https://d.to/og","nullable":true,"type":"string"},"rewrite":{"description":"Whether the short link uses link cloaking. Defaults to `false` if not provided.","type":"boolean"},"ios":{"description":"The iOS destination URL for the short link for iOS device targeting.","nullable":true,"type":"string","maxLength":32000},"android":{"description":"The Android destination URL for the short link for Android device targeting.","nullable":true,"type":"string","maxLength":32000},"geo":{"$ref":"#/components/schemas/linkGeoTargeting"},"doIndex":{"description":"Allow search engines to index your short link. Defaults to `false` if not provided. Learn more: https://d.to/noindex","type":"boolean"},"utm_source":{"description":"The UTM source of the short link. If set, this will populate or override the UTM source in the destination URL.","nullable":true,"type":"string"},"utm_medium":{"description":"The UTM medium of the short link. If set, this will populate or override the UTM medium in the destination URL.","nullable":true,"type":"string"},"utm_campaign":{"description":"The UTM campaign of the short link. If set, this will populate or override the UTM campaign in the destination URL.","nullable":true,"type":"string"},"utm_term":{"description":"The UTM term of the short link. If set, this will populate or override the UTM term in the destination URL.","nullable":true,"type":"string"},"utm_content":{"description":"The UTM content of the short link. If set, this will populate or override the UTM content in the destination URL.","nullable":true,"type":"string"},"ref":{"description":"The referral tag of the short link. If set, this will populate or override the `ref` query parameter in the destination URL.","nullable":true,"type":"string"},"webhookIds":{"description":"An array of webhook IDs to trigger when the link is clicked. These webhooks will receive click event data.","nullable":true,"type":"array","items":{"type":"string"}},"testVariants":{"nullable":true,"minItems":2,"maxItems":4,"type":"array","items":{"type":"object","properties":{"url":{"type":"string"},"percentage":{"type":"number","minimum":10,"maximum":90}},"required":["url","percentage"]},"description":"An array of A/B test URLs and the percentage of traffic to send to each URL.","example":[{"url":"https://example.com/variant-1","percentage":50},{"url":"https://example.com/variant-2","percentage":50}]},"testStartedAt":{"description":"The date and time when the tests started.","nullable":true,"type":"string"},"testCompletedAt":{"description":"The date and time when the tests were or will be completed.","nullable":true,"type":"string"},"publicStats":{"description":"Deprecated: Use `dashboard` instead. Whether the short link's stats are publicly accessible. Defaults to `false` if not provided.","deprecated":true,"type":"boolean"},"tagId":{"description":"Deprecated: Use `tagIds` instead. The unique ID of the tag assigned to the short link.","deprecated":true,"nullable":true,"type":"string"}}}},"required":["data"]}}}},"responses":{"200":{"description":"The updated links","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LinkSchema"}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"422":{"$ref":"#/components/responses/422"},"429":{"$ref":"#/components/responses/429"},"500":{"$ref":"#/components/responses/500"}}},"delete":{"operationId":"bulkDeleteLinks","x-speakeasy-name-override":"deleteMany","summary":"Bulk delete links","description":"Bulk delete up to 100 links for the authenticated workspace.","tags":["Links"],"security":[{"token":[]}],"parameters":[{"in":"query","name":"linkIds","schema":{"type":"array","items":{"type":"string"},"example":["clux0rgak00011...","clux0rgak00022..."],"description":"Comma-separated list of link IDs to delete. Maximum of 100 IDs. Non-existing IDs will be ignored."},"explode":false,"style":"form","required":true,"description":"Comma-separated list of link IDs to delete. Maximum of 100 IDs. Non-existing IDs will be ignored."}],"responses":{"200":{"description":"The deleted links count.","content":{"application/json":{"schema":{"type":"object","properties":{"deletedCount":{"type":"number","description":"The number of links deleted."}},"required":["deletedCount"],"additionalProperties":false}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"422":{"$ref":"#/components/responses/422"},"429":{"$ref":"#/components/responses/429"},"500":{"$ref":"#/components/responses/500"}}}},"/links/upsert":{"put":{"operationId":"upsertLink","x-speakeasy-name-override":"upsert","x-speakeasy-usage-example":true,"summary":"Upsert a link","description":"Upsert a link for the authenticated workspace by its URL. If a link with the same URL already exists, return it (or update it if there are any changes). Otherwise, a new link will be created.","tags":["Links"],"security":[{"token":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"url":{"description":"The destination URL of the short link.","example":"https://google.com","maxLength":32000,"type":"string"},"domain":{"description":"The domain of the short link (without protocol). If not provided, the primary domain for the workspace will be used (or `dub.sh` if the workspace has no domains).","type":"string","maxLength":190},"key":{"description":"The short link slug. If not provided, a random 7-character slug will be generated.","type":"string","maxLength":190},"keyLength":{"description":"The length of the short link slug. Defaults to 7 if not provided. When used with `prefix`, the total length of the key will be `prefix.length + keyLength`.","type":"number","minimum":3,"maximum":190},"externalId":{"description":"The ID of the link in your database. If set, it can be used to identify the link in future API requests (must be prefixed with 'ext_' when passed as a query parameter). This key is unique across your workspace.","example":"123456","nullable":true,"type":"string","minLength":1,"maxLength":255},"tenantId":{"description":"The ID of the tenant that created the link inside your system. If set, it can be used to fetch all links for a tenant.","nullable":true,"type":"string","maxLength":255},"programId":{"description":"The ID of the program the short link is associated with.","nullable":true,"type":"string"},"partnerId":{"description":"The ID of the partner the short link is associated with.","nullable":true,"type":"string"},"prefix":{"description":"The prefix of the short link slug for randomly-generated keys (e.g. if prefix is `/c/`, generated keys will be in the `/c/:key` format). Will be ignored if `key` is provided.","type":"string"},"trackConversion":{"description":"Whether to track conversions for the short link. Defaults to `false` if not provided.","type":"boolean"},"archived":{"description":"Whether the short link is archived. Defaults to `false` if not provided.","type":"boolean"},"tagIds":{"description":"The unique IDs of the tags assigned to the short link.","example":["clux0rgak00011..."],"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"tagNames":{"description":"The unique name of the tags assigned to the short link (case insensitive).","anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"folderId":{"description":"The unique ID existing folder to assign the short link to.","nullable":true,"type":"string"},"comments":{"description":"The comments for the short link.","nullable":true,"type":"string"},"expiresAt":{"description":"The date and time when the short link will expire at.","nullable":true,"type":"string"},"expiredUrl":{"description":"The URL to redirect to when the short link has expired.","maxLength":32000,"nullable":true,"type":"string"},"password":{"description":"The password required to access the destination URL of the short link.","nullable":true,"type":"string"},"proxy":{"description":"Whether the short link uses Custom Link Previews feature. Defaults to `false` if not provided.","type":"boolean"},"title":{"description":"The custom link preview title (og:title). Will be used for Custom Link Previews if `proxy` is true. Learn more: https://d.to/og","nullable":true,"type":"string"},"description":{"description":"The custom link preview description (og:description). Will be used for Custom Link Previews if `proxy` is true. Learn more: https://d.to/og","nullable":true,"type":"string"},"image":{"description":"The custom link preview image (og:image). Will be used for Custom Link Previews if `proxy` is true. Learn more: https://d.to/og","nullable":true,"type":"string"},"video":{"description":"The custom link preview video (og:video). Will be used for Custom Link Previews if `proxy` is true. Learn more: https://d.to/og","nullable":true,"type":"string"},"rewrite":{"description":"Whether the short link uses link cloaking. Defaults to `false` if not provided.","type":"boolean"},"ios":{"description":"The iOS destination URL for the short link for iOS device targeting.","nullable":true,"type":"string","maxLength":32000},"android":{"description":"The Android destination URL for the short link for Android device targeting.","nullable":true,"type":"string","maxLength":32000},"geo":{"$ref":"#/components/schemas/linkGeoTargeting"},"doIndex":{"description":"Allow search engines to index your short link. Defaults to `false` if not provided. Learn more: https://d.to/noindex","type":"boolean"},"utm_source":{"description":"The UTM source of the short link. If set, this will populate or override the UTM source in the destination URL.","nullable":true,"type":"string"},"utm_medium":{"description":"The UTM medium of the short link. If set, this will populate or override the UTM medium in the destination URL.","nullable":true,"type":"string"},"utm_campaign":{"description":"The UTM campaign of the short link. If set, this will populate or override the UTM campaign in the destination URL.","nullable":true,"type":"string"},"utm_term":{"description":"The UTM term of the short link. If set, this will populate or override the UTM term in the destination URL.","nullable":true,"type":"string"},"utm_content":{"description":"The UTM content of the short link. If set, this will populate or override the UTM content in the destination URL.","nullable":true,"type":"string"},"ref":{"description":"The referral tag of the short link. If set, this will populate or override the `ref` query parameter in the destination URL.","nullable":true,"type":"string"},"webhookIds":{"description":"An array of webhook IDs to trigger when the link is clicked. These webhooks will receive click event data.","nullable":true,"type":"array","items":{"type":"string"}},"testVariants":{"nullable":true,"minItems":2,"maxItems":4,"type":"array","items":{"type":"object","properties":{"url":{"type":"string"},"percentage":{"type":"number","minimum":10,"maximum":90}},"required":["url","percentage"]},"description":"An array of A/B test URLs and the percentage of traffic to send to each URL.","example":[{"url":"https://example.com/variant-1","percentage":50},{"url":"https://example.com/variant-2","percentage":50}]},"testStartedAt":{"description":"The date and time when the tests started.","nullable":true,"type":"string"},"testCompletedAt":{"description":"The date and time when the tests were or will be completed.","nullable":true,"type":"string"},"publicStats":{"description":"Deprecated: Use `dashboard` instead. Whether the short link's stats are publicly accessible. Defaults to `false` if not provided.","deprecated":true,"type":"boolean"},"tagId":{"description":"Deprecated: Use `tagIds` instead. The unique ID of the tag assigned to the short link.","deprecated":true,"nullable":true,"type":"string"}},"required":["url"]}}}},"responses":{"200":{"description":"The upserted link","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LinkSchema"}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"422":{"$ref":"#/components/responses/422"},"429":{"$ref":"#/components/responses/429"},"500":{"$ref":"#/components/responses/500"}}}},"/analytics":{"get":{"operationId":"retrieveAnalytics","x-speakeasy-name-override":"retrieve","summary":"Retrieve analytics for a link, a domain, or the authenticated workspace.","description":"Retrieve analytics for a link, a domain, or the authenticated workspace. The response type depends on the `event` and `type` query parameters.","tags":["Analytics"],"security":[{"token":[]}],"parameters":[{"in":"query","name":"event","schema":{"default":"clicks","description":"The type of event to retrieve analytics for. Defaults to `clicks`.","example":"leads","type":"string","enum":["clicks","leads","sales","composite"]},"description":"The type of event to retrieve analytics for. Defaults to `clicks`."},{"in":"query","name":"groupBy","schema":{"default":"count","description":"The parameter to group the analytics data points by. Defaults to `count` if undefined.","type":"string","enum":["count","timeseries","continents","regions","countries","cities","devices","browsers","os","trigger","triggers","referers","referer_urls","top_folders","top_link_tags","top_domains","top_links","top_urls","top_base_urls","top_partners","top_groups","utm_sources","utm_mediums","utm_campaigns","utm_terms","utm_contents"]},"description":"The parameter to group the analytics data points by. Defaults to `count` if undefined."},{"in":"query","name":"domain","schema":{"description":"The domain to filter analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `dub.co`, `dub.co,google.com`, `-spam.com`.","example":"dub.co","type":"string"},"description":"The domain to filter analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `dub.co`, `dub.co,google.com`, `-spam.com`."},{"in":"query","name":"key","schema":{"description":"The slug of the short link to retrieve analytics for. Must be used along with the corresponding `domain` of the short link to fetch analytics for a specific short link.","type":"string"},"description":"The slug of the short link to retrieve analytics for. Must be used along with the corresponding `domain` of the short link to fetch analytics for a specific short link."},{"in":"query","name":"linkId","schema":{"description":"The unique ID of the link to retrieve analytics for.Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `link_123`, `link_123,link_456`, `-link_789`.","type":"string"},"description":"The unique ID of the link to retrieve analytics for.Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `link_123`, `link_123,link_456`, `-link_789`."},{"in":"query","name":"externalId","schema":{"description":"The ID of the link in the your database. Must be prefixed with 'ext_' when passed as a query parameter.","type":"string"},"description":"The ID of the link in the your database. Must be prefixed with 'ext_' when passed as a query parameter."},{"in":"query","name":"tenantId","schema":{"description":"The ID of the tenant that created the link inside your system. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `tenant_123`, `tenant_123,tenant_456`, `-tenant_789`.","type":"string"},"description":"The ID of the tenant that created the link inside your system. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `tenant_123`, `tenant_123,tenant_456`, `-tenant_789`."},{"in":"query","name":"tagId","schema":{"description":"The tag ID to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `tag_123`, `tag_123,tag_456`, `-tag_789`.","type":"string"},"description":"The tag ID to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `tag_123`, `tag_123,tag_456`, `-tag_789`."},{"in":"query","name":"folderId","schema":{"description":"The folder ID to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `folder_123`, `folder_123,folder_456`, `-folder_789`. If not provided, return analytics for all links.","type":"string"},"description":"The folder ID to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `folder_123`, `folder_123,folder_456`, `-folder_789`. If not provided, return analytics for all links."},{"in":"query","name":"groupId","schema":{"description":"The group ID to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `grp_123`, `grp_123,grp_456`, `-grp_789`.","type":"string"},"description":"The group ID to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `grp_123`, `grp_123,grp_456`, `-grp_789`."},{"in":"query","name":"partnerId","schema":{"description":"The ID of the partner to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `pn_123`, `pn_123,pn_456`, `-pn_789`.","type":"string"},"description":"The ID of the partner to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `pn_123`, `pn_123,pn_456`, `-pn_789`."},{"in":"query","name":"customerId","schema":{"description":"The ID of the customer to retrieve analytics for.","type":"string"},"description":"The ID of the customer to retrieve analytics for."},{"in":"query","name":"interval","schema":{"description":"The interval to retrieve analytics for. If undefined, defaults to 24h.","type":"string","enum":["24h","7d","30d","90d","1y","mtd","qtd","ytd","all"]},"description":"The interval to retrieve analytics for. If undefined, defaults to 24h."},{"in":"query","name":"start","schema":{"description":"The start date and time when to retrieve analytics from. If set, takes precedence over `interval`.","type":"string"},"description":"The start date and time when to retrieve analytics from. If set, takes precedence over `interval`."},{"in":"query","name":"end","schema":{"description":"The end date and time when to retrieve analytics from. If not provided, defaults to the current date. If set along with `start`, takes precedence over `interval`.","type":"string"},"description":"The end date and time when to retrieve analytics from. If not provided, defaults to the current date. If set along with `start`, takes precedence over `interval`."},{"in":"query","name":"timezone","schema":{"description":"The IANA time zone code for aligning timeseries granularity (e.g. America/New_York). Defaults to UTC.","example":"America/New_York","default":"UTC","type":"string"},"description":"The IANA time zone code for aligning timeseries granularity (e.g. America/New_York). Defaults to UTC."},{"in":"query","name":"country","schema":{"description":"The country to retrieve analytics for. Must be passed as a 2-letter ISO 3166-1 country code (see https://d.to/geo). Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `US`, `US,BR,FR`, `-US`.","type":"string"},"description":"The country to retrieve analytics for. Must be passed as a 2-letter ISO 3166-1 country code (see https://d.to/geo). Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `US`, `US,BR,FR`, `-US`."},{"in":"query","name":"city","schema":{"description":"The city to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `New York`, `New York,London`, `-New York`.","type":"string"},"description":"The city to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `New York`, `New York,London`, `-New York`."},{"in":"query","name":"region","schema":{"description":"The ISO 3166-2 region code to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `NY`, `NY,CA`, `-NY`.","type":"string"},"description":"The ISO 3166-2 region code to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `NY`, `NY,CA`, `-NY`."},{"in":"query","name":"continent","schema":{"description":"The continent to retrieve analytics for. Valid values: AF, AN, AS, EU, NA, OC, SA. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `NA`, `NA,EU`, `-AS`.","type":"string"},"description":"The continent to retrieve analytics for. Valid values: AF, AN, AS, EU, NA, OC, SA. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `NA`, `NA,EU`, `-AS`."},{"in":"query","name":"device","schema":{"description":"The device to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `Desktop`, `Mobile,Tablet`, `-Mobile`.","type":"string"},"description":"The device to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `Desktop`, `Mobile,Tablet`, `-Mobile`."},{"in":"query","name":"browser","schema":{"description":"The browser to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `Chrome`, `Chrome,Firefox,Safari`, `-IE`.","type":"string"},"description":"The browser to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `Chrome`, `Chrome,Firefox,Safari`, `-IE`."},{"in":"query","name":"os","schema":{"description":"The OS to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `Windows`, `Mac,Windows,Linux`, `-Windows`.","type":"string"},"description":"The OS to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `Windows`, `Mac,Windows,Linux`, `-Windows`."},{"in":"query","name":"trigger","schema":{"description":"The trigger to retrieve analytics for. Valid values: qr, link, pageview. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `qr`, `qr,link`, `-qr`. If undefined, returns all trigger types.","type":"string"},"description":"The trigger to retrieve analytics for. Valid values: qr, link, pageview. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `qr`, `qr,link`, `-qr`. If undefined, returns all trigger types."},{"in":"query","name":"referer","schema":{"description":"The referer hostname to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `google.com`, `google.com,twitter.com`, `-facebook.com`.","type":"string"},"description":"The referer hostname to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `google.com`, `google.com,twitter.com`, `-facebook.com`."},{"in":"query","name":"refererUrl","schema":{"description":"The full referer URL to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `https://google.com`, `https://google.com,https://twitter.com`, `-https://spam.com`.","type":"string"},"description":"The full referer URL to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `https://google.com`, `https://google.com,https://twitter.com`, `-https://spam.com`."},{"in":"query","name":"url","schema":{"description":"The destination URL to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `https://example.com`, `https://example.com,https://other.com`, `-https://spam.com`.","type":"string"},"description":"The destination URL to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `https://example.com`, `https://example.com,https://other.com`, `-https://spam.com`."},{"in":"query","name":"utm_source","schema":{"description":"The UTM source to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `google`, `google,twitter`, `-spam`.","type":"string"},"description":"The UTM source to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `google`, `google,twitter`, `-spam`."},{"in":"query","name":"utm_medium","schema":{"description":"The UTM medium to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `cpc`, `cpc,social`, `-email`.","type":"string"},"description":"The UTM medium to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `cpc`, `cpc,social`, `-email`."},{"in":"query","name":"utm_campaign","schema":{"description":"The UTM campaign to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `summer_sale`, `summer_sale,winter_sale`, `-old_campaign`.","type":"string"},"description":"The UTM campaign to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `summer_sale`, `summer_sale,winter_sale`, `-old_campaign`."},{"in":"query","name":"utm_term","schema":{"description":"The UTM term to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`).","type":"string"},"description":"The UTM term to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`)."},{"in":"query","name":"utm_content","schema":{"description":"The UTM content to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`).","type":"string"},"description":"The UTM content to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`)."},{"in":"query","name":"root","schema":{"description":"Filter for root domains. If true, filter for domains only. If false, filter for links only. If undefined, return both.","type":"boolean"},"description":"Filter for root domains. If true, filter for domains only. If false, filter for links only. If undefined, return both."},{"in":"query","name":"saleType","schema":{"description":"Filter sales by type: 'new' for first-time purchases, 'recurring' for repeat purchases. If undefined, returns both.","type":"string","enum":["new","recurring"]},"description":"Filter sales by type: 'new' for first-time purchases, 'recurring' for repeat purchases. If undefined, returns both."},{"in":"query","name":"query","schema":{"description":"Search the events by a custom metadata value. Only available for lead and sale events. Examples: `metadata['key']:'value'`","type":"string","maxLength":10000},"description":"Search the events by a custom metadata value. Only available for lead and sale events. Examples: `metadata['key']:'value'`"},{"in":"query","name":"programId","schema":{"description":"Deprecated: This is automatically inferred from your workspace's defaultProgramId. The ID of the program to retrieve analytics for.","deprecated":true,"type":"string"},"description":"Deprecated: This is automatically inferred from your workspace's defaultProgramId. The ID of the program to retrieve analytics for."},{"in":"query","name":"tagIds","schema":{"description":"Deprecated: Use `tagId` instead. The tag IDs to retrieve analytics for.","deprecated":true,"type":"string"},"description":"Deprecated: Use `tagId` instead. The tag IDs to retrieve analytics for."},{"in":"query","name":"qr","schema":{"description":"Deprecated: Use the `trigger` field instead. Filter for QR code scans. If true, filter for QR codes only. If false, filter for links only. If undefined, return both.","deprecated":true,"type":"boolean"},"description":"Deprecated: Use the `trigger` field instead. Filter for QR code scans. If true, filter for QR codes only. If false, filter for links only. If undefined, return both."}],"responses":{"200":{"description":"Analytics data","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/AnalyticsCount"},{"type":"array","items":{"$ref":"#/components/schemas/AnalyticsTimeseries"}},{"type":"array","items":{"$ref":"#/components/schemas/AnalyticsContinents"}},{"type":"array","items":{"$ref":"#/components/schemas/AnalyticsCountries"}},{"type":"array","items":{"$ref":"#/components/schemas/AnalyticsRegions"}},{"type":"array","items":{"$ref":"#/components/schemas/AnalyticsCities"}},{"type":"array","items":{"$ref":"#/components/schemas/AnalyticsDevices"}},{"type":"array","items":{"$ref":"#/components/schemas/AnalyticsBrowsers"}},{"type":"array","items":{"$ref":"#/components/schemas/AnalyticsOS"}},{"type":"array","items":{"$ref":"#/components/schemas/AnalyticsTriggers"}},{"type":"array","items":{"$ref":"#/components/schemas/AnalyticsReferers"}},{"type":"array","items":{"$ref":"#/components/schemas/AnalyticsRefererUrls"}},{"type":"array","items":{"$ref":"#/components/schemas/AnalyticsTopLinks"}},{"type":"array","items":{"$ref":"#/components/schemas/AnalyticsTopUrls"}}]}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"422":{"$ref":"#/components/responses/422"},"429":{"$ref":"#/components/responses/429"},"500":{"$ref":"#/components/responses/500"}}}},"/events":{"get":{"operationId":"listEvents","x-speakeasy-name-override":"list","summary":"Retrieve a list of events","description":"Retrieve a paginated list of events for the authenticated workspace.","tags":["Events"],"security":[{"token":[]}],"parameters":[{"in":"query","name":"event","schema":{"default":"clicks","description":"The type of event to retrieve analytics for. Defaults to 'clicks'.","type":"string","enum":["clicks","leads","sales"]},"description":"The type of event to retrieve analytics for. Defaults to 'clicks'."},{"in":"query","name":"domain","schema":{"description":"The domain to filter analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `dub.co`, `dub.co,google.com`, `-spam.com`.","example":"dub.co","type":"string"},"description":"The domain to filter analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `dub.co`, `dub.co,google.com`, `-spam.com`."},{"in":"query","name":"key","schema":{"description":"The slug of the short link to retrieve analytics for. Must be used along with the corresponding `domain` of the short link to fetch analytics for a specific short link.","type":"string"},"description":"The slug of the short link to retrieve analytics for. Must be used along with the corresponding `domain` of the short link to fetch analytics for a specific short link."},{"in":"query","name":"linkId","schema":{"description":"The unique ID of the link to retrieve analytics for.Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `link_123`, `link_123,link_456`, `-link_789`.","type":"string"},"description":"The unique ID of the link to retrieve analytics for.Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `link_123`, `link_123,link_456`, `-link_789`."},{"in":"query","name":"externalId","schema":{"description":"The ID of the link in the your database. Must be prefixed with 'ext_' when passed as a query parameter.","type":"string"},"description":"The ID of the link in the your database. Must be prefixed with 'ext_' when passed as a query parameter."},{"in":"query","name":"tenantId","schema":{"description":"The ID of the tenant that created the link inside your system. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `tenant_123`, `tenant_123,tenant_456`, `-tenant_789`.","type":"string"},"description":"The ID of the tenant that created the link inside your system. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `tenant_123`, `tenant_123,tenant_456`, `-tenant_789`."},{"in":"query","name":"tagId","schema":{"description":"The tag ID to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `tag_123`, `tag_123,tag_456`, `-tag_789`.","type":"string"},"description":"The tag ID to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `tag_123`, `tag_123,tag_456`, `-tag_789`."},{"in":"query","name":"folderId","schema":{"description":"The folder ID to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `folder_123`, `folder_123,folder_456`, `-folder_789`. If not provided, return analytics for all links.","type":"string"},"description":"The folder ID to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `folder_123`, `folder_123,folder_456`, `-folder_789`. If not provided, return analytics for all links."},{"in":"query","name":"groupId","schema":{"description":"The group ID to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `grp_123`, `grp_123,grp_456`, `-grp_789`.","type":"string"},"description":"The group ID to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `grp_123`, `grp_123,grp_456`, `-grp_789`."},{"in":"query","name":"partnerId","schema":{"description":"The ID of the partner to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `pn_123`, `pn_123,pn_456`, `-pn_789`.","type":"string"},"description":"The ID of the partner to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `pn_123`, `pn_123,pn_456`, `-pn_789`."},{"in":"query","name":"customerId","schema":{"description":"The ID of the customer to retrieve analytics for.","type":"string"},"description":"The ID of the customer to retrieve analytics for."},{"in":"query","name":"interval","schema":{"description":"The interval to retrieve analytics for. If undefined, defaults to 24h.","type":"string","enum":["24h","7d","30d","90d","1y","mtd","qtd","ytd","all"]},"description":"The interval to retrieve analytics for. If undefined, defaults to 24h."},{"in":"query","name":"start","schema":{"description":"The start date and time when to retrieve analytics from. If set, takes precedence over `interval`.","type":"string"},"description":"The start date and time when to retrieve analytics from. If set, takes precedence over `interval`."},{"in":"query","name":"end","schema":{"description":"The end date and time when to retrieve analytics from. If not provided, defaults to the current date. If set along with `start`, takes precedence over `interval`.","type":"string"},"description":"The end date and time when to retrieve analytics from. If not provided, defaults to the current date. If set along with `start`, takes precedence over `interval`."},{"in":"query","name":"timezone","schema":{"description":"The IANA time zone code for aligning timeseries granularity (e.g. America/New_York). Defaults to UTC.","example":"America/New_York","default":"UTC","type":"string"},"description":"The IANA time zone code for aligning timeseries granularity (e.g. America/New_York). Defaults to UTC."},{"in":"query","name":"country","schema":{"description":"The country to retrieve analytics for. Must be passed as a 2-letter ISO 3166-1 country code (see https://d.to/geo). Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `US`, `US,BR,FR`, `-US`.","type":"string"},"description":"The country to retrieve analytics for. Must be passed as a 2-letter ISO 3166-1 country code (see https://d.to/geo). Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `US`, `US,BR,FR`, `-US`."},{"in":"query","name":"city","schema":{"description":"The city to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `New York`, `New York,London`, `-New York`.","type":"string"},"description":"The city to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `New York`, `New York,London`, `-New York`."},{"in":"query","name":"region","schema":{"description":"The ISO 3166-2 region code to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `NY`, `NY,CA`, `-NY`.","type":"string"},"description":"The ISO 3166-2 region code to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `NY`, `NY,CA`, `-NY`."},{"in":"query","name":"continent","schema":{"description":"The continent to retrieve analytics for. Valid values: AF, AN, AS, EU, NA, OC, SA. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `NA`, `NA,EU`, `-AS`.","type":"string"},"description":"The continent to retrieve analytics for. Valid values: AF, AN, AS, EU, NA, OC, SA. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `NA`, `NA,EU`, `-AS`."},{"in":"query","name":"device","schema":{"description":"The device to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `Desktop`, `Mobile,Tablet`, `-Mobile`.","type":"string"},"description":"The device to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `Desktop`, `Mobile,Tablet`, `-Mobile`."},{"in":"query","name":"browser","schema":{"description":"The browser to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `Chrome`, `Chrome,Firefox,Safari`, `-IE`.","type":"string"},"description":"The browser to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `Chrome`, `Chrome,Firefox,Safari`, `-IE`."},{"in":"query","name":"os","schema":{"description":"The OS to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `Windows`, `Mac,Windows,Linux`, `-Windows`.","type":"string"},"description":"The OS to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `Windows`, `Mac,Windows,Linux`, `-Windows`."},{"in":"query","name":"trigger","schema":{"description":"The trigger to retrieve analytics for. Valid values: qr, link, pageview. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `qr`, `qr,link`, `-qr`. If undefined, returns all trigger types.","type":"string"},"description":"The trigger to retrieve analytics for. Valid values: qr, link, pageview. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `qr`, `qr,link`, `-qr`. If undefined, returns all trigger types."},{"in":"query","name":"referer","schema":{"description":"The referer hostname to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `google.com`, `google.com,twitter.com`, `-facebook.com`.","type":"string"},"description":"The referer hostname to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `google.com`, `google.com,twitter.com`, `-facebook.com`."},{"in":"query","name":"refererUrl","schema":{"description":"The full referer URL to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `https://google.com`, `https://google.com,https://twitter.com`, `-https://spam.com`.","type":"string"},"description":"The full referer URL to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `https://google.com`, `https://google.com,https://twitter.com`, `-https://spam.com`."},{"in":"query","name":"url","schema":{"description":"The destination URL to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `https://example.com`, `https://example.com,https://other.com`, `-https://spam.com`.","type":"string"},"description":"The destination URL to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `https://example.com`, `https://example.com,https://other.com`, `-https://spam.com`."},{"in":"query","name":"utm_source","schema":{"description":"The UTM source to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `google`, `google,twitter`, `-spam`.","type":"string"},"description":"The UTM source to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `google`, `google,twitter`, `-spam`."},{"in":"query","name":"utm_medium","schema":{"description":"The UTM medium to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `cpc`, `cpc,social`, `-email`.","type":"string"},"description":"The UTM medium to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `cpc`, `cpc,social`, `-email`."},{"in":"query","name":"utm_campaign","schema":{"description":"The UTM campaign to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `summer_sale`, `summer_sale,winter_sale`, `-old_campaign`.","type":"string"},"description":"The UTM campaign to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`). Examples: `summer_sale`, `summer_sale,winter_sale`, `-old_campaign`."},{"in":"query","name":"utm_term","schema":{"description":"The UTM term to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`).","type":"string"},"description":"The UTM term to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`)."},{"in":"query","name":"utm_content","schema":{"description":"The UTM content to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`).","type":"string"},"description":"The UTM content to retrieve analytics for. Supports advanced filtering: single value, multiple values (comma-separated), or exclusion (prefix with `-`)."},{"in":"query","name":"root","schema":{"description":"Filter for root domains. If true, filter for domains only. If false, filter for links only. If undefined, return both.","type":"boolean"},"description":"Filter for root domains. If true, filter for domains only. If false, filter for links only. If undefined, return both."},{"in":"query","name":"saleType","schema":{"description":"Filter sales by type: 'new' for first-time purchases, 'recurring' for repeat purchases. If undefined, returns both.","type":"string","enum":["new","recurring"]},"description":"Filter sales by type: 'new' for first-time purchases, 'recurring' for repeat purchases. If undefined, returns both."},{"in":"query","name":"query","schema":{"description":"Search the events by a custom metadata value. Only available for lead and sale events. Examples: `metadata['key']:'value'`","type":"string","maxLength":10000},"description":"Search the events by a custom metadata value. Only available for lead and sale events. Examples: `metadata['key']:'value'`"},{"in":"query","name":"programId","schema":{"description":"Deprecated: This is automatically inferred from your workspace's defaultProgramId. The ID of the program to retrieve analytics for.","deprecated":true,"type":"string"},"description":"Deprecated: This is automatically inferred from your workspace's defaultProgramId. The ID of the program to retrieve analytics for."},{"in":"query","name":"tagIds","schema":{"description":"Deprecated: Use `tagId` instead. The tag IDs to retrieve analytics for.","deprecated":true,"type":"string"},"description":"Deprecated: Use `tagId` instead. The tag IDs to retrieve analytics for."},{"in":"query","name":"qr","schema":{"description":"Deprecated: Use the `trigger` field instead. Filter for QR code scans. If true, filter for QR codes only. If false, filter for links only. If undefined, return both.","deprecated":true,"type":"boolean"},"description":"Deprecated: Use the `trigger` field instead. Filter for QR code scans. If true, filter for QR codes only. If false, filter for links only. If undefined, return both."},{"in":"query","name":"page","schema":{"default":1,"type":"number"}},{"in":"query","name":"limit","schema":{"default":100,"type":"number","maximum":1000}},{"in":"query","name":"sortOrder","schema":{"description":"The sort order. The default is `desc`.","default":"desc","type":"string","enum":["asc","desc"]},"description":"The sort order. The default is `desc`."},{"in":"query","name":"sortBy","schema":{"default":"timestamp","description":"The field to sort the events by. The default is `timestamp`.","type":"string","enum":["timestamp"]},"description":"The field to sort the events by. The default is `timestamp`."},{"in":"query","name":"order","schema":{"description":"DEPRECATED. Use `sortOrder` instead.","deprecated":true,"default":"desc","type":"string","enum":["asc","desc"]},"description":"DEPRECATED. Use `sortOrder` instead."}],"responses":{"200":{"description":"A list of events","content":{"application/json":{"schema":{"type":"array","items":{"oneOf":[{"type":"object","properties":{"event":{"type":"string","enum":["click"]},"timestamp":{"type":"string"},"click":{"type":"object","properties":{"id":{"type":"string"},"timestamp":{"type":"string"},"url":{"type":"string"},"country":{"type":"string"},"city":{"type":"string"},"region":{"type":"string"},"continent":{"type":"string"},"device":{"type":"string"},"browser":{"type":"string"},"os":{"type":"string"},"trigger":{"nullable":true,"type":"string"},"referer":{"type":"string"},"refererUrl":{"type":"string"},"qr":{"type":"boolean"},"ip":{"type":"string"}},"required":["id","timestamp","url","country","city","region","continent","device","browser","os","referer","refererUrl","qr","ip"],"additionalProperties":false},"link":{"type":"object","properties":{"id":{"type":"string","description":"The unique ID of the short link."},"domain":{"type":"string","description":"The domain of the short link. If not provided, the primary domain for the workspace will be used (or `dub.sh` if the workspace has no domains)."},"key":{"type":"string","description":"The short link slug. If not provided, a random 7-character slug will be generated."},"url":{"type":"string"},"trackConversion":{"type":"boolean"},"externalId":{"nullable":true,"description":"The ID of the link in your database. If set, it can be used to identify the link in future API requests (must be prefixed with 'ext_' when passed as a query parameter). This key is unique across your workspace.","type":"string"},"tenantId":{"nullable":true,"description":"The ID of the tenant that created the link inside your system. If set, it can be used to fetch all links for a tenant.","type":"string"},"programId":{"nullable":true,"description":"The ID of the program the short link is associated with.","type":"string"},"partnerId":{"nullable":true,"description":"The ID of the partner the short link is associated with.","type":"string"},"archived":{"type":"boolean"},"expiresAt":{"type":"string"},"expiredUrl":{"nullable":true,"type":"string"},"disabledAt":{"type":"string"},"password":{"nullable":true,"description":"The password required to access the destination URL of the short link.","type":"string"},"proxy":{"type":"boolean"},"title":{"nullable":true,"description":"The title of the short link. Will be used for Custom Link Previews if `proxy` is true.","type":"string"},"description":{"nullable":true,"description":"The description of the short link. Will be used for Custom Link Previews if `proxy` is true.","type":"string"},"image":{"nullable":true,"description":"The image of the short link. Will be used for Custom Link Previews if `proxy` is true.","type":"string"},"video":{"nullable":true,"description":"The custom link preview video (og:video). Will be used for Custom Link Previews if `proxy` is true. Learn more: https://d.to/og","type":"string"},"rewrite":{"type":"boolean"},"doIndex":{"type":"boolean"},"ios":{"nullable":true,"description":"The iOS destination URL for the short link for iOS device targeting.","type":"string"},"android":{"nullable":true,"description":"The Android destination URL for the short link for Android device targeting.","type":"string"},"geo":{"nullable":true,"description":"Geo targeting information for the short link in JSON format `{[COUNTRY]: https://example.com }`. See https://d.to/geo for more information.","type":"object","additionalProperties":{"type":"string","format":"uri"}},"publicStats":{"type":"boolean"},"tags":{"nullable":true,"description":"The tags assigned to the short link.","type":"array","items":{"$ref":"#/components/schemas/LinkTagSchemaOutput"}},"folderId":{"nullable":true,"description":"The unique ID of the folder assigned to the short link.","type":"string"},"webhookIds":{"type":"array","items":{"type":"string"},"description":"The IDs of the webhooks that the short link is associated with."},"comments":{"nullable":true,"description":"The comments for the short link.","type":"string"},"shortLink":{"type":"string","format":"uri","description":"The full URL of the short link, including the https protocol (e.g. `https://dub.sh/try`)."},"qrCode":{"type":"string","format":"uri","description":"The full URL of the QR code for the short link (e.g. `https://api.dub.co/qr?url=https://dub.sh/try`)."},"utm_source":{"nullable":true,"description":"The UTM source of the short link.","type":"string"},"utm_medium":{"nullable":true,"description":"The UTM medium of the short link.","type":"string"},"utm_campaign":{"nullable":true,"description":"The UTM campaign of the short link.","type":"string"},"utm_term":{"nullable":true,"description":"The UTM term of the short link.","type":"string"},"utm_content":{"nullable":true,"description":"The UTM content of the short link.","type":"string"},"testVariants":{"nullable":true,"minItems":2,"maxItems":4,"type":"array","items":{"type":"object","properties":{"url":{"type":"string"},"percentage":{"type":"number","minimum":10,"maximum":90}},"required":["url","percentage"],"additionalProperties":false},"description":"An array of A/B test URLs and the percentage of traffic to send to each URL.","example":[{"url":"https://example.com/variant-1","percentage":50},{"url":"https://example.com/variant-2","percentage":50}]},"testStartedAt":{"type":"string"},"testCompletedAt":{"type":"string"},"userId":{"nullable":true,"type":"string"},"workspaceId":{"type":"string","description":"The workspace ID of the short link."},"clicks":{"default":0,"description":"The number of clicks on the short link.","type":"number"},"leads":{"default":0,"description":"The number of leads the short link has generated.","type":"number"},"conversions":{"default":0,"description":"The number of leads that converted to paying customers.","type":"number"},"sales":{"default":0,"description":"The total number of sales (includes recurring sales) generated by the short link.","type":"number"},"saleAmount":{"default":0,"description":"The total dollar value of sales (in cents) generated by the short link.","type":"number"},"lastClicked":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"tagId":{"nullable":true,"description":"Deprecated: Use `tags` instead. The unique ID of the tag assigned to the short link.","deprecated":true,"type":"string"},"projectId":{"type":"string","description":"Deprecated: Use `workspaceId` instead. The project ID of the short link.","deprecated":true}},"required":["id","domain","key","url","trackConversion","externalId","tenantId","programId","partnerId","archived","expiresAt","expiredUrl","disabledAt","password","proxy","title","description","image","video","rewrite","doIndex","ios","android","geo","publicStats","tags","folderId","webhookIds","comments","shortLink","qrCode","utm_source","utm_medium","utm_campaign","utm_term","utm_content","testStartedAt","testCompletedAt","userId","workspaceId","clicks","leads","conversions","sales","saleAmount","lastClicked","createdAt","updatedAt","tagId","projectId"],"additionalProperties":false},"click_id":{"type":"string","deprecated":true,"description":"Deprecated: Use `click.id` instead."},"link_id":{"type":"string","deprecated":true,"description":"Deprecated: Use `link.id` instead."},"domain":{"type":"string","deprecated":true,"description":"Deprecated: Use `link.domain` instead."},"key":{"type":"string","deprecated":true,"description":"Deprecated: Use `link.key` instead."},"url":{"type":"string","deprecated":true,"description":"Deprecated: Use `click.url` instead."},"continent":{"type":"string","deprecated":true,"description":"Deprecated: Use `click.continent` instead."},"country":{"type":"string","deprecated":true,"description":"Deprecated: Use `click.country` instead."},"city":{"type":"string","deprecated":true,"description":"Deprecated: Use `click.city` instead."},"device":{"type":"string","deprecated":true,"description":"Deprecated: Use `click.device` instead."},"browser":{"type":"string","deprecated":true,"description":"Deprecated: Use `click.browser` instead."},"os":{"type":"string","deprecated":true,"description":"Deprecated: Use `click.os` instead."},"qr":{"type":"number","deprecated":true,"description":"Deprecated: Use `click.qr` instead."},"ip":{"type":"string","deprecated":true,"description":"Deprecated: Use `click.ip` instead."}},"required":["event","timestamp","click","link","click_id","link_id","domain","key","url","continent","country","city","device","browser","os","qr","ip"],"additionalProperties":false,"title":"ClickEvent"},{"type":"object","properties":{"event":{"type":"string","enum":["lead"]},"timestamp":{"type":"string"},"eventId":{"type":"string"},"eventName":{"type":"string"},"metadata":{"nullable":true},"click":{"type":"object","properties":{"id":{"type":"string"},"timestamp":{"type":"string"},"url":{"type":"string"},"country":{"type":"string"},"city":{"type":"string"},"region":{"type":"string"},"continent":{"type":"string"},"device":{"type":"string"},"browser":{"type":"string"},"os":{"type":"string"},"trigger":{"nullable":true,"type":"string"},"referer":{"type":"string"},"refererUrl":{"type":"string"},"qr":{"type":"boolean"},"ip":{"type":"string"}},"required":["id","timestamp","url","country","city","region","continent","device","browser","os","referer","refererUrl","qr","ip"],"additionalProperties":false},"link":{"type":"object","properties":{"id":{"type":"string","description":"The unique ID of the short link."},"domain":{"type":"string","description":"The domain of the short link. If not provided, the primary domain for the workspace will be used (or `dub.sh` if the workspace has no domains)."},"key":{"type":"string","description":"The short link slug. If not provided, a random 7-character slug will be generated."},"url":{"type":"string"},"trackConversion":{"type":"boolean"},"externalId":{"nullable":true,"description":"The ID of the link in your database. If set, it can be used to identify the link in future API requests (must be prefixed with 'ext_' when passed as a query parameter). This key is unique across your workspace.","type":"string"},"tenantId":{"nullable":true,"description":"The ID of the tenant that created the link inside your system. If set, it can be used to fetch all links for a tenant.","type":"string"},"programId":{"nullable":true,"description":"The ID of the program the short link is associated with.","type":"string"},"partnerId":{"nullable":true,"description":"The ID of the partner the short link is associated with.","type":"string"},"archived":{"type":"boolean"},"expiresAt":{"type":"string"},"expiredUrl":{"nullable":true,"type":"string"},"disabledAt":{"type":"string"},"password":{"nullable":true,"description":"The password required to access the destination URL of the short link.","type":"string"},"proxy":{"type":"boolean"},"title":{"nullable":true,"description":"The title of the short link. Will be used for Custom Link Previews if `proxy` is true.","type":"string"},"description":{"nullable":true,"description":"The description of the short link. Will be used for Custom Link Previews if `proxy` is true.","type":"string"},"image":{"nullable":true,"description":"The image of the short link. Will be used for Custom Link Previews if `proxy` is true.","type":"string"},"video":{"nullable":true,"description":"The custom link preview video (og:video). Will be used for Custom Link Previews if `proxy` is true. Learn more: https://d.to/og","type":"string"},"rewrite":{"type":"boolean"},"doIndex":{"type":"boolean"},"ios":{"nullable":true,"description":"The iOS destination URL for the short link for iOS device targeting.","type":"string"},"android":{"nullable":true,"description":"The Android destination URL for the short link for Android device targeting.","type":"string"},"geo":{"nullable":true,"description":"Geo targeting information for the short link in JSON format `{[COUNTRY]: https://example.com }`. See https://d.to/geo for more information.","type":"object","additionalProperties":{"type":"string","format":"uri"}},"publicStats":{"type":"boolean"},"tags":{"nullable":true,"description":"The tags assigned to the short link.","type":"array","items":{"$ref":"#/components/schemas/LinkTagSchemaOutput"}},"folderId":{"nullable":true,"de
[...]
