{"openapi":"3.0.3","info":{"title":"Dub API","description":"Dub is link management infrastructure for companies to create marketing campaigns, link sharing features, and referral programs.","version":"0.0.1","contact":{"name":"Dub Support","email":"support@dub.co","url":"https://dub.co/api"},"license":{"name":"AGPL-3.0 license","url":"https://github.com/dubinc/dub/blob/main/LICENSE.md"}},"servers":[{"url":"https://api.dub.co","description":"Production API"}],"paths":{"/links":{"post":{"operationId":"createLink","x-speakeasy-name-override":"create","x-speakeasy-usage-example":true,"summary":"Create a link","description":"Create a link for the authenticated workspace.","tags":["Links"],"security":[{"token":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"url":{"type":"string","description":"The destination URL of the short link.","example":"https://google.com"},"domain":{"type":"string","maxLength":190,"description":"The domain of the short link. If not provided, the primary domain for the workspace will be used (or `dub.sh` if the workspace has no domains)."},"key":{"type":"string","maxLength":190,"description":"The short link slug. If not provided, a random 7-character slug will be generated."},"keyLength":{"type":"number","minimum":3,"maximum":190,"description":"The length of the short link slug. Defaults to 7 if not provided. When used with `prefix`, the total length of the key will be `prefix.length + keyLength`."},"externalId":{"type":"string","nullable":true,"minLength":1,"maxLength":255,"description":"The ID of the link in your database. If set, it can be used to identify the link in future API requests (must be prefixed with 'ext_' when passed as a query parameter). This key is unique across your workspace.","example":"123456"},"tenantId":{"type":"string","nullable":true,"maxLength":255,"description":"The ID of the tenant that created the link inside your system. If set, it can be used to fetch all links for a tenant."},"programId":{"type":"string","nullable":true,"description":"The ID of the program the short link is associated with."},"partnerId":{"type":"string","nullable":true,"description":"The ID of the partner the short link is associated with."},"prefix":{"type":"string","description":"The prefix of the short link slug for randomly-generated keys (e.g. if prefix is `/c/`, generated keys will be in the `/c/:key` format). Will be ignored if `key` is provided."},"trackConversion":{"type":"boolean","description":"Whether to track conversions for the short link. Defaults to `false` if not provided."},"archived":{"type":"boolean","description":"Whether the short link is archived. Defaults to `false` if not provided."},"publicStats":{"type":"boolean","description":"Deprecated: Use `dashboard` instead. Whether the short link's stats are publicly accessible. Defaults to `false` if not provided.","deprecated":true},"tagId":{"type":"string","nullable":true,"description":"The unique ID of the tag assigned to the short link. This field is deprecated – use `tagIds` instead.","deprecated":true},"tagIds":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}],"description":"The unique IDs of the tags assigned to the short link.","example":["clux0rgak00011..."]},"tagNames":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}],"description":"The unique name of the tags assigned to the short link (case insensitive)."},"folderId":{"type":"string","nullable":true,"description":"The unique ID existing folder to assign the short link to."},"comments":{"type":"string","nullable":true,"description":"The comments for the short link."},"expiresAt":{"type":"string","nullable":true,"description":"The date and time when the short link will expire at."},"expiredUrl":{"type":"string","nullable":true,"description":"The URL to redirect to when the short link has expired."},"password":{"type":"string","nullable":true,"description":"The password required to access the destination URL of the short link."},"proxy":{"type":"boolean","description":"Whether the short link uses Custom Link Previews feature. Defaults to `false` if not provided."},"title":{"type":"string","nullable":true,"description":"The custom link preview title (og:title). Will be used for Custom Link Previews if `proxy` is true. Learn more: https://d.to/og"},"description":{"type":"string","nullable":true,"description":"The custom link preview description (og:description). Will be used for Custom Link Previews if `proxy` is true. Learn more: https://d.to/og"},"image":{"type":"string","nullable":true,"description":"The custom link preview image (og:image). Will be used for Custom Link Previews if `proxy` is true. Learn more: https://d.to/og"},"video":{"type":"string","nullable":true,"description":"The custom link preview video (og:video). Will be used for Custom Link Previews if `proxy` is true. Learn more: https://d.to/og"},"rewrite":{"type":"boolean","description":"Whether the short link uses link cloaking. Defaults to `false` if not provided."},"ios":{"type":"string","nullable":true,"description":"The iOS destination URL for the short link for iOS device targeting."},"android":{"type":"string","nullable":true,"description":"The Android destination URL for the short link for Android device targeting."},"geo":{"$ref":"#/components/schemas/linkGeoTargeting"},"doIndex":{"type":"boolean","description":"Allow search engines to index your short link. Defaults to `false` if not provided. Learn more: https://d.to/noindex"},"utm_source":{"type":"string","nullable":true,"description":"The UTM source of the short link. If set, this will populate or override the UTM source in the destination URL."},"utm_medium":{"type":"string","nullable":true,"description":"The UTM medium of the short link. If set, this will populate or override the UTM medium in the destination URL."},"utm_campaign":{"type":"string","nullable":true,"description":"The UTM campaign of the short link. If set, this will populate or override the UTM campaign in the destination URL."},"utm_term":{"type":"string","nullable":true,"description":"The UTM term of the short link. If set, this will populate or override the UTM term in the destination URL."},"utm_content":{"type":"string","nullable":true,"description":"The UTM content of the short link. If set, this will populate or override the UTM content in the destination URL."},"ref":{"type":"string","nullable":true,"description":"The referral tag of the short link. If set, this will populate or override the `ref` query parameter in the destination URL."},"webhookIds":{"type":"array","nullable":true,"items":{"type":"string"},"description":"An array of webhook IDs to trigger when the link is clicked. These webhooks will receive click event data."},"testVariants":{"type":"array","nullable":true,"items":{"type":"object","properties":{"url":{"type":"string"},"percentage":{"type":"number","minimum":10,"maximum":90}},"required":["url","percentage"]},"minItems":2,"maxItems":4,"description":"An array of A/B test URLs and the percentage of traffic to send to each URL.","example":[{"url":"https://example.com/variant-1","percentage":50},{"url":"https://example.com/variant-2","percentage":50}]},"testStartedAt":{"type":"string","nullable":true,"description":"The date and time when the tests started."},"testCompletedAt":{"type":"string","nullable":true,"description":"The date and time when the tests were or will be completed."}},"required":["url"]}}}},"responses":{"200":{"description":"The created link","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LinkSchema"}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"422":{"$ref":"#/components/responses/422"},"429":{"$ref":"#/components/responses/429"},"500":{"$ref":"#/components/responses/500"}}},"get":{"operationId":"getLinks","x-speakeasy-name-override":"list","x-speakeasy-pagination":{"type":"offsetLimit","inputs":[{"name":"page","in":"parameters","type":"page"},{"name":"pageSize","in":"parameters","type":"limit"}],"outputs":{"results":"$"}},"summary":"Retrieve a list of links","description":"Retrieve a paginated list of links for the authenticated workspace.","tags":["Links"],"security":[{"token":[]}],"parameters":[{"in":"query","name":"domain","description":"The domain to filter the links by. E.g. `ac.me`. If not provided, all links for the workspace will be returned.","schema":{"type":"string","description":"The domain to filter the links by. E.g. `ac.me`. If not provided, all links for the workspace will be returned."}},{"in":"query","name":"tagId","description":"Deprecated. Use `tagIds` instead. The tag ID to filter the links by.","schema":{"type":"string","description":"Deprecated. Use `tagIds` instead. The tag ID to filter the links by.","deprecated":true}},{"in":"query","name":"tagIds","description":"The tag IDs to filter the links by.","style":"form","explode":false,"schema":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}],"description":"The tag IDs to filter the links by."}},{"in":"query","name":"tagNames","description":"The unique name of the tags assigned to the short link (case insensitive).","style":"form","explode":false,"schema":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}],"description":"The unique name of the tags assigned to the short link (case insensitive)."}},{"in":"query","name":"folderId","description":"The folder ID to filter the links by.","schema":{"type":"string","description":"The folder ID to filter the links by."}},{"in":"query","name":"search","description":"The search term to filter the links by. The search term will be matched against the short link slug and the destination url.","schema":{"type":"string","description":"The search term to filter the links by. The search term will be matched against the short link slug and the destination url."}},{"in":"query","name":"userId","description":"The user ID to filter the links by.","schema":{"type":"string","description":"The user ID to filter the links by."}},{"in":"query","name":"tenantId","description":"The ID of the tenant that created the link inside your system. If set, will only return links for the specified tenant.","schema":{"type":"string","description":"The ID of the tenant that created the link inside your system. If set, will only return links for the specified tenant."}},{"in":"query","name":"showArchived","description":"Whether to include archived links in the response. Defaults to `false` if not provided.","schema":{"type":"boolean","default":"false","description":"Whether to include archived links in the response. Defaults to `false` if not provided."}},{"in":"query","name":"withTags","description":"DEPRECATED. Filter for links that have at least one tag assigned to them.","schema":{"type":"boolean","default":"false","description":"DEPRECATED. Filter for links that have at least one tag assigned to them.","deprecated":true}},{"in":"query","name":"sortBy","description":"The field to sort the links by. The default is `createdAt`.","schema":{"type":"string","enum":["createdAt","clicks","saleAmount","lastClicked"],"default":"createdAt","description":"The field to sort the links by. The default is `createdAt`."}},{"in":"query","name":"sortOrder","description":"The sort order. The default is `desc`.","schema":{"type":"string","enum":["asc","desc"],"default":"desc","description":"The sort order. The default is `desc`."}},{"in":"query","name":"sort","description":"DEPRECATED. Use `sortBy` instead.","schema":{"type":"string","enum":["createdAt","clicks","saleAmount","lastClicked"],"default":"createdAt","description":"DEPRECATED. Use `sortBy` instead.","deprecated":true}},{"in":"query","name":"page","description":"The page number for pagination.","schema":{"type":"number","minimum":0,"exclusiveMinimum":true,"default":1,"description":"The page number for pagination.","example":1}},{"in":"query","name":"pageSize","description":"The number of items per page.","schema":{"type":"number","minimum":0,"exclusiveMinimum":true,"maximum":100,"default":100,"description":"The number of items per page.","example":50}}],"responses":{"200":{"description":"A list of links","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LinkSchema"}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"422":{"$ref":"#/components/responses/422"},"429":{"$ref":"#/components/responses/429"},"500":{"$ref":"#/components/responses/500"}}}},"/links/count":{"get":{"operationId":"getLinksCount","x-speakeasy-name-override":"count","summary":"Retrieve links count","description":"Retrieve the number of links for the authenticated workspace.","tags":["Links"],"security":[{"token":[]}],"parameters":[{"in":"query","name":"domain","description":"The domain to filter the links by. E.g. `ac.me`. If not provided, all links for the workspace will be returned.","schema":{"type":"string","description":"The domain to filter the links by. E.g. `ac.me`. If not provided, all links for the workspace will be returned."}},{"in":"query","name":"tagId","description":"Deprecated. Use `tagIds` instead. The tag ID to filter the links by.","schema":{"type":"string","description":"Deprecated. Use `tagIds` instead. The tag ID to filter the links by.","deprecated":true}},{"in":"query","name":"tagIds","description":"The tag IDs to filter the links by.","style":"form","explode":false,"schema":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}],"description":"The tag IDs to filter the links by."}},{"in":"query","name":"tagNames","description":"The unique name of the tags assigned to the short link (case insensitive).","style":"form","explode":false,"schema":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}],"description":"The unique name of the tags assigned to the short link (case insensitive)."}},{"in":"query","name":"folderId","description":"The folder ID to filter the links by.","schema":{"type":"string","description":"The folder ID to filter the links by."}},{"in":"query","name":"search","description":"The search term to filter the links by. The search term will be matched against the short link slug and the destination url.","schema":{"type":"string","description":"The search term to filter the links by. The search term will be matched against the short link slug and the destination url."}},{"in":"query","name":"userId","description":"The user ID to filter the links by.","schema":{"type":"string","description":"The user ID to filter the links by."}},{"in":"query","name":"tenantId","description":"The ID of the tenant that created the link inside your system. If set, will only return links for the specified tenant.","schema":{"type":"string","description":"The ID of the tenant that created the link inside your system. If set, will only return links for the specified tenant."}},{"in":"query","name":"showArchived","description":"Whether to include archived links in the response. Defaults to `false` if not provided.","schema":{"type":"boolean","default":"false","description":"Whether to include archived links in the response. Defaults to `false` if not provided."}},{"in":"query","name":"withTags","description":"DEPRECATED. Filter for links that have at least one tag assigned to them.","schema":{"type":"boolean","default":"false","description":"DEPRECATED. Filter for links that have at least one tag assigned to them.","deprecated":true}},{"in":"query","name":"groupBy","description":"The field to group the links by.","schema":{"anyOf":[{"type":"string","enum":["domain"]},{"type":"string","enum":["tagId"]},{"type":"string","enum":["userId"]},{"type":"string","enum":["folderId"]}],"description":"The field to group the links by."}}],"responses":{"200":{"description":"A list of links","content":{"application/json":{"schema":{"type":"number","description":"The number of links matching the query."}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"422":{"$ref":"#/components/responses/422"},"429":{"$ref":"#/components/responses/429"},"500":{"$ref":"#/components/responses/500"}}}},"/links/info":{"get":{"operationId":"getLinkInfo","x-speakeasy-name-override":"get","summary":"Retrieve a link","description":"Retrieve the info for a link.","tags":["Links"],"security":[{"token":[]}],"parameters":[{"in":"query","name":"domain","schema":{"type":"string","minLength":1,"description":"The domain of the link to retrieve. E.g. for `d.to/github`, the domain is `d.to`."}},{"in":"query","name":"key","description":"The key of the link to retrieve. E.g. for `d.to/github`, the key is `github`.","schema":{"type":"string","minLength":1,"description":"The key of the link to retrieve. E.g. for `d.to/github`, the key is `github`."}},{"in":"query","name":"linkId","description":"The unique ID of the short link.","schema":{"type":"string","description":"The unique ID of the short link.","example":"clux0rgak00011..."}},{"in":"query","name":"externalId","description":"This is the ID of the link in the your database.","schema":{"type":"string","description":"This is the ID of the link in the your database.","example":"123456"}}],"responses":{"200":{"description":"The retrieved link","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LinkSchema"}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"422":{"$ref":"#/components/responses/422"},"429":{"$ref":"#/components/responses/429"},"500":{"$ref":"#/components/responses/500"}}}},"/links/{linkId}":{"patch":{"operationId":"updateLink","x-speakeasy-name-override":"update","x-speakeasy-max-method-params":2,"summary":"Update a link","description":"Update a link for the authenticated workspace. If there's no change, returns it as it is.","tags":["Links"],"security":[{"token":[]}],"parameters":[{"in":"path","name":"linkId","description":"The id of the link to update. You may use either `linkId` (obtained via `/links/info` endpoint) or `externalId` prefixed with `ext_`.","schema":{"type":"string","description":"The id of the link to update. You may use either `linkId` (obtained via `/links/info` endpoint) or `externalId` prefixed with `ext_`."},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"url":{"type":"string","description":"The destination URL of the short link.","example":"https://google.com"},"domain":{"type":"string","maxLength":190,"description":"The domain of the short link. If not provided, the primary domain for the workspace will be used (or `dub.sh` if the workspace has no domains)."},"key":{"type":"string","maxLength":190,"description":"The short link slug. If not provided, a random 7-character slug will be generated."},"externalId":{"type":"string","nullable":true,"minLength":1,"maxLength":255,"description":"The ID of the link in your database. If set, it can be used to identify the link in future API requests (must be prefixed with 'ext_' when passed as a query parameter). This key is unique across your workspace.","example":"123456"},"tenantId":{"type":"string","nullable":true,"maxLength":255,"description":"The ID of the tenant that created the link inside your system. If set, it can be used to fetch all links for a tenant."},"programId":{"type":"string","nullable":true,"description":"The ID of the program the short link is associated with."},"partnerId":{"type":"string","nullable":true,"description":"The ID of the partner the short link is associated with."},"trackConversion":{"type":"boolean","description":"Whether to track conversions for the short link. Defaults to `false` if not provided."},"archived":{"type":"boolean","description":"Whether the short link is archived. Defaults to `false` if not provided."},"publicStats":{"type":"boolean","description":"Deprecated: Use `dashboard` instead. Whether the short link's stats are publicly accessible. Defaults to `false` if not provided.","deprecated":true},"tagId":{"type":"string","nullable":true,"description":"The unique ID of the tag assigned to the short link. This field is deprecated – use `tagIds` instead.","deprecated":true},"tagIds":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}],"description":"The unique IDs of the tags assigned to the short link.","example":["clux0rgak00011..."]},"tagNames":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}],"description":"The unique name of the tags assigned to the short link (case insensitive)."},"folderId":{"type":"string","nullable":true,"description":"The unique ID existing folder to assign the short link to."},"comments":{"type":"string","nullable":true,"description":"The comments for the short link."},"expiresAt":{"type":"string","nullable":true,"description":"The date and time when the short link will expire at."},"expiredUrl":{"type":"string","nullable":true,"description":"The URL to redirect to when the short link has expired."},"password":{"type":"string","nullable":true,"description":"The password required to access the destination URL of the short link."},"proxy":{"type":"boolean","description":"Whether the short link uses Custom Link Previews feature. Defaults to `false` if not provided."},"title":{"type":"string","nullable":true,"description":"The custom link preview title (og:title). Will be used for Custom Link Previews if `proxy` is true. Learn more: https://d.to/og"},"description":{"type":"string","nullable":true,"description":"The custom link preview description (og:description). Will be used for Custom Link Previews if `proxy` is true. Learn more: https://d.to/og"},"image":{"nullable":true,"anyOf":[{"type":"string","pattern":"^data:image\\/(png|jpeg|jpg|gif|webp);base64,"},{"type":"string","format":"uri"}]},"video":{"type":"string","nullable":true,"description":"The custom link preview video (og:video). Will be used for Custom Link Previews if `proxy` is true. Learn more: https://d.to/og"},"rewrite":{"type":"boolean","description":"Whether the short link uses link cloaking. Defaults to `false` if not provided."},"ios":{"type":"string","nullable":true,"description":"The iOS destination URL for the short link for iOS device targeting."},"android":{"type":"string","nullable":true,"description":"The Android destination URL for the short link for Android device targeting."},"geo":{"$ref":"#/components/schemas/linkGeoTargeting"},"doIndex":{"type":"boolean","description":"Allow search engines to index your short link. Defaults to `false` if not provided. Learn more: https://d.to/noindex"},"utm_source":{"type":"string","nullable":true,"description":"The UTM source of the short link. If set, this will populate or override the UTM source in the destination URL."},"utm_medium":{"type":"string","nullable":true,"description":"The UTM medium of the short link. If set, this will populate or override the UTM medium in the destination URL."},"utm_campaign":{"type":"string","nullable":true,"description":"The UTM campaign of the short link. If set, this will populate or override the UTM campaign in the destination URL."},"utm_term":{"type":"string","nullable":true,"description":"The UTM term of the short link. If set, this will populate or override the UTM term in the destination URL."},"utm_content":{"type":"string","nullable":true,"description":"The UTM content of the short link. If set, this will populate or override the UTM content in the destination URL."},"ref":{"type":"string","nullable":true,"description":"The referral tag of the short link. If set, this will populate or override the `ref` query parameter in the destination URL."},"webhookIds":{"type":"array","nullable":true,"items":{"type":"string"},"description":"An array of webhook IDs to trigger when the link is clicked. These webhooks will receive click event data."},"testVariants":{"type":"array","nullable":true,"items":{"type":"object","properties":{"url":{"type":"string"},"percentage":{"type":"number","minimum":10,"maximum":90}},"required":["url","percentage"]},"minItems":2,"maxItems":4,"description":"An array of A/B test URLs and the percentage of traffic to send to each URL.","example":[{"url":"https://example.com/variant-1","percentage":50},{"url":"https://example.com/variant-2","percentage":50}]},"testStartedAt":{"type":"string","nullable":true,"description":"The date and time when the tests started."},"testCompletedAt":{"type":"string","nullable":true,"description":"The date and time when the tests were or will be completed."}}}}}},"responses":{"200":{"description":"The updated link","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LinkSchema"}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"422":{"$ref":"#/components/responses/422"},"429":{"$ref":"#/components/responses/429"},"500":{"$ref":"#/components/responses/500"}}},"delete":{"operationId":"deleteLink","x-speakeasy-name-override":"delete","x-speakeasy-max-method-params":1,"summary":"Delete a link","description":"Delete a link for the authenticated workspace.","tags":["Links"],"security":[{"token":[]}],"parameters":[{"in":"path","name":"linkId","description":"The id of the link to delete. You may use either `linkId` (obtained via `/links/info` endpoint) or `externalId` prefixed with `ext_`.","schema":{"type":"string","description":"The id of the link to delete. You may use either `linkId` (obtained via `/links/info` endpoint) or `externalId` prefixed with `ext_`."},"required":true}],"responses":{"200":{"description":"The deleted link ID.","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"The ID of the link."}},"required":["id"]}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"422":{"$ref":"#/components/responses/422"},"429":{"$ref":"#/components/responses/429"},"500":{"$ref":"#/components/responses/500"}}}},"/links/bulk":{"post":{"operationId":"bulkCreateLinks","x-speakeasy-name-override":"createMany","summary":"Bulk create links","description":"Bulk create up to 100 links for the authenticated workspace.","tags":["Links"],"security":[{"token":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"url":{"type":"string","description":"The destination URL of the short link.","example":"https://google.com"},"domain":{"type":"string","maxLength":190,"description":"The domain of the short link. If not provided, the primary domain for the workspace will be used (or `dub.sh` if the workspace has no domains)."},"key":{"type":"string","maxLength":190,"description":"The short link slug. If not provided, a random 7-character slug will be generated."},"keyLength":{"type":"number","minimum":3,"maximum":190,"description":"The length of the short link slug. Defaults to 7 if not provided. When used with `prefix`, the total length of the key will be `prefix.length + keyLength`."},"externalId":{"type":"string","nullable":true,"minLength":1,"maxLength":255,"description":"The ID of the link in your database. If set, it can be used to identify the link in future API requests (must be prefixed with 'ext_' when passed as a query parameter). This key is unique across your workspace.","example":"123456"},"tenantId":{"type":"string","nullable":true,"maxLength":255,"description":"The ID of the tenant that created the link inside your system. If set, it can be used to fetch all links for a tenant."},"programId":{"type":"string","nullable":true,"description":"The ID of the program the short link is associated with."},"partnerId":{"type":"string","nullable":true,"description":"The ID of the partner the short link is associated with."},"prefix":{"type":"string","description":"The prefix of the short link slug for randomly-generated keys (e.g. if prefix is `/c/`, generated keys will be in the `/c/:key` format). Will be ignored if `key` is provided."},"trackConversion":{"type":"boolean","description":"Whether to track conversions for the short link. Defaults to `false` if not provided."},"archived":{"type":"boolean","description":"Whether the short link is archived. Defaults to `false` if not provided."},"publicStats":{"type":"boolean","description":"Deprecated: Use `dashboard` instead. Whether the short link's stats are publicly accessible. Defaults to `false` if not provided.","deprecated":true},"tagId":{"type":"string","nullable":true,"description":"The unique ID of the tag assigned to the short link. This field is deprecated – use `tagIds` instead.","deprecated":true},"tagIds":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}],"description":"The unique IDs of the tags assigned to the short link.","example":["clux0rgak00011..."]},"tagNames":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}],"description":"The unique name of the tags assigned to the short link (case insensitive)."},"folderId":{"type":"string","nullable":true,"description":"The unique ID existing folder to assign the short link to."},"comments":{"type":"string","nullable":true,"description":"The comments for the short link."},"expiresAt":{"type":"string","nullable":true,"description":"The date and time when the short link will expire at."},"expiredUrl":{"type":"string","nullable":true,"description":"The URL to redirect to when the short link has expired."},"password":{"type":"string","nullable":true,"description":"The password required to access the destination URL of the short link."},"proxy":{"type":"boolean","description":"Whether the short link uses Custom Link Previews feature. Defaults to `false` if not provided."},"title":{"type":"string","nullable":true,"description":"The custom link preview title (og:title). Will be used for Custom Link Previews if `proxy` is true. Learn more: https://d.to/og"},"description":{"type":"string","nullable":true,"description":"The custom link preview description (og:description). Will be used for Custom Link Previews if `proxy` is true. Learn more: https://d.to/og"},"image":{"type":"string","nullable":true,"description":"The custom link preview image (og:image). Will be used for Custom Link Previews if `proxy` is true. Learn more: https://d.to/og"},"video":{"type":"string","nullable":true,"description":"The custom link preview video (og:video). Will be used for Custom Link Previews if `proxy` is true. Learn more: https://d.to/og"},"rewrite":{"type":"boolean","description":"Whether the short link uses link cloaking. Defaults to `false` if not provided."},"ios":{"type":"string","nullable":true,"description":"The iOS destination URL for the short link for iOS device targeting."},"android":{"type":"string","nullable":true,"description":"The Android destination URL for the short link for Android device targeting."},"geo":{"$ref":"#/components/schemas/linkGeoTargeting"},"doIndex":{"type":"boolean","description":"Allow search engines to index your short link. Defaults to `false` if not provided. Learn more: https://d.to/noindex"},"utm_source":{"type":"string","nullable":true,"description":"The UTM source of the short link. If set, this will populate or override the UTM source in the destination URL."},"utm_medium":{"type":"string","nullable":true,"description":"The UTM medium of the short link. If set, this will populate or override the UTM medium in the destination URL."},"utm_campaign":{"type":"string","nullable":true,"description":"The UTM campaign of the short link. If set, this will populate or override the UTM campaign in the destination URL."},"utm_term":{"type":"string","nullable":true,"description":"The UTM term of the short link. If set, this will populate or override the UTM term in the destination URL."},"utm_content":{"type":"string","nullable":true,"description":"The UTM content of the short link. If set, this will populate or override the UTM content in the destination URL."},"ref":{"type":"string","nullable":true,"description":"The referral tag of the short link. If set, this will populate or override the `ref` query parameter in the destination URL."},"webhookIds":{"type":"array","nullable":true,"items":{"type":"string"},"description":"An array of webhook IDs to trigger when the link is clicked. These webhooks will receive click event data."},"testVariants":{"type":"array","nullable":true,"items":{"type":"object","properties":{"url":{"type":"string"},"percentage":{"type":"number","minimum":10,"maximum":90}},"required":["url","percentage"]},"minItems":2,"maxItems":4,"description":"An array of A/B test URLs and the percentage of traffic to send to each URL.","example":[{"url":"https://example.com/variant-1","percentage":50},{"url":"https://example.com/variant-2","percentage":50}]},"testStartedAt":{"type":"string","nullable":true,"description":"The date and time when the tests started."},"testCompletedAt":{"type":"string","nullable":true,"description":"The date and time when the tests were or will be completed."}},"required":["url"]}}}}},"responses":{"200":{"description":"The created links","content":{"application/json":{"schema":{"type":"array","items":{"oneOf":[{"$ref":"#/components/schemas/LinkSchema"},{"$ref":"#/components/schemas/LinkErrorSchema"}]}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"422":{"$ref":"#/components/responses/422"},"429":{"$ref":"#/components/responses/429"},"500":{"$ref":"#/components/responses/500"}}},"patch":{"operationId":"bulkUpdateLinks","x-speakeasy-name-override":"updateMany","summary":"Bulk update links","description":"Bulk update up to 100 links with the same data for the authenticated workspace.","tags":["Links"],"security":[{"token":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"linkIds":{"type":"array","items":{"type":"string"},"maxItems":100,"description":"The IDs of the links to update. Takes precedence over `externalIds`.","default":[]},"externalIds":{"type":"array","items":{"type":"string"},"maxItems":100,"description":"The external IDs of the links to update as stored in your database.","default":[]},"data":{"type":"object","properties":{"url":{"type":"string","description":"The destination URL of the short link.","example":"https://google.com"},"tenantId":{"type":"string","nullable":true,"maxLength":255,"description":"The ID of the tenant that created the link inside your system. If set, it can be used to fetch all links for a tenant."},"programId":{"type":"string","nullable":true,"description":"The ID of the program the short link is associated with."},"partnerId":{"type":"string","nullable":true,"description":"The ID of the partner the short link is associated with."},"trackConversion":{"type":"boolean","description":"Whether to track conversions for the short link. Defaults to `false` if not provided."},"archived":{"type":"boolean","description":"Whether the short link is archived. Defaults to `false` if not provided."},"publicStats":{"type":"boolean","description":"Deprecated: Use `dashboard` instead. Whether the short link's stats are publicly accessible. Defaults to `false` if not provided.","deprecated":true},"tagId":{"type":"string","nullable":true,"description":"The unique ID of the tag assigned to the short link. This field is deprecated – use `tagIds` instead.","deprecated":true},"tagIds":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}],"description":"The unique IDs of the tags assigned to the short link.","example":["clux0rgak00011..."]},"tagNames":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}],"description":"The unique name of the tags assigned to the short link (case insensitive)."},"folderId":{"type":"string","nullable":true,"description":"The unique ID existing folder to assign the short link to."},"comments":{"type":"string","nullable":true,"description":"The comments for the short link."},"expiresAt":{"type":"string","nullable":true,"description":"The date and time when the short link will expire at."},"expiredUrl":{"type":"string","nullable":true,"description":"The URL to redirect to when the short link has expired."},"password":{"type":"string","nullable":true,"description":"The password required to access the destination URL of the short link."},"proxy":{"type":"boolean","description":"Whether the short link uses Custom Link Previews feature. Defaults to `false` if not provided."},"title":{"type":"string","nullable":true,"description":"The custom link preview title (og:title). Will be used for Custom Link Previews if `proxy` is true. Learn more: https://d.to/og"},"description":{"type":"string","nullable":true,"description":"The custom link preview description (og:description). Will be used for Custom Link Previews if `proxy` is true. Learn more: https://d.to/og"},"image":{"type":"string","nullable":true,"description":"The custom link preview image (og:image). Will be used for Custom Link Previews if `proxy` is true. Learn more: https://d.to/og"},"video":{"type":"string","nullable":true,"description":"The custom link preview video (og:video). Will be used for Custom Link Previews if `proxy` is true. Learn more: https://d.to/og"},"rewrite":{"type":"boolean","description":"Whether the short link uses link cloaking. Defaults to `false` if not provided."},"ios":{"type":"string","nullable":true,"description":"The iOS destination URL for the short link for iOS device targeting."},"android":{"type":"string","nullable":true,"description":"The Android destination URL for the short link for Android device targeting."},"geo":{"$ref":"#/components/schemas/linkGeoTargeting"},"doIndex":{"type":"boolean","description":"Allow search engines to index your short link. Defaults to `false` if not provided. Learn more: https://d.to/noindex"},"utm_source":{"type":"string","nullable":true,"description":"The UTM source of the short link. If set, this will populate or override the UTM source in the destination URL."},"utm_medium":{"type":"string","nullable":true,"description":"The UTM medium of the short link. If set, this will populate or override the UTM medium in the destination URL."},"utm_campaign":{"type":"string","nullable":true,"description":"The UTM campaign of the short link. If set, this will populate or override the UTM campaign in the destination URL."},"utm_term":{"type":"string","nullable":true,"description":"The UTM term of the short link. If set, this will populate or override the UTM term in the destination URL."},"utm_content":{"type":"string","nullable":true,"description":"The UTM content of the short link. If set, this will populate or override the UTM content in the destination URL."},"ref":{"type":"string","nullable":true,"description":"The referral tag of the short link. If set, this will populate or override the `ref` query parameter in the destination URL."},"webhookIds":{"type":"array","nullable":true,"items":{"type":"string"},"description":"An array of webhook IDs to trigger when the link is clicked. These webhooks will receive click event data."},"testVariants":{"type":"array","nullable":true,"items":{"type":"object","properties":{"url":{"type":"string"},"percentage":{"type":"number","minimum":10,"maximum":90}},"required":["url","percentage"]},"minItems":2,"maxItems":4,"description":"An array of A/B test URLs and the percentage of traffic to send to each URL.","example":[{"url":"https://example.com/variant-1","percentage":50},{"url":"https://example.com/variant-2","percentage":50}]},"testStartedAt":{"type":"string","nullable":true,"description":"The date and time when the tests started."},"testCompletedAt":{"type":"string","nullable":true,"description":"The date and time when the tests were or will be completed."}}}},"required":["data"]}}}},"responses":{"200":{"description":"The updated links","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LinkSchema"}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"422":{"$ref":"#/components/responses/422"},"429":{"$ref":"#/components/responses/429"},"500":{"$ref":"#/components/responses/500"}}},"delete":{"operationId":"bulkDeleteLinks","x-speakeasy-name-override":"deleteMany","summary":"Bulk delete links","description":"Bulk delete up to 100 links for the authenticated workspace.","tags":["Links"],"security":[{"token":[]}],"parameters":[{"in":"query","name":"linkIds","description":"Comma-separated list of link IDs to delete. Maximum of 100 IDs. Non-existing IDs will be ignored.","explode":false,"style":"form","schema":{"type":"array","items":{"type":"string"},"description":"Comma-separated list of link IDs to delete. Maximum of 100 IDs. Non-existing IDs will be ignored.","example":["clux0rgak00011...","clux0rgak00022..."]},"required":true}],"responses":{"200":{"description":"The deleted links count.","content":{"application/json":{"schema":{"type":"object","properties":{"deletedCount":{"type":"number","description":"The number of links deleted."}},"required":["deletedCount"]}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"422":{"$ref":"#/components/responses/422"},"429":{"$ref":"#/components/responses/429"},"500":{"$ref":"#/components/responses/500"}}}},"/links/upsert":{"put":{"operationId":"upsertLink","x-speakeasy-name-override":"upsert","x-speakeasy-usage-example":true,"summary":"Upsert a link","description":"Upsert a link for the authenticated workspace by its URL. If a link with the same URL already exists, return it (or update it if there are any changes). Otherwise, a new link will be created.","tags":["Links"],"security":[{"token":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"url":{"type":"string","description":"The destination URL of the short link.","example":"https://google.com"},"domain":{"type":"string","maxLength":190,"description":"The domain of the short link. If not provided, the primary domain for the workspace will be used (or `dub.sh` if the workspace has no domains)."},"key":{"type":"string","maxLength":190,"description":"The short link slug. If not provided, a random 7-character slug will be generated."},"keyLength":{"type":"number","minimum":3,"maximum":190,"description":"The length of the short link slug. Defaults to 7 if not provided. When used with `prefix`, the total length of the key will be `prefix.length + keyLength`."},"externalId":{"type":"string","nullable":true,"minLength":1,"maxLength":255,"description":"The ID of the link in your database. If set, it can be used to identify the link in future API requests (must be prefixed with 'ext_' when passed as a query parameter). This key is unique across your workspace.","example":"123456"},"tenantId":{"type":"string","nullable":true,"maxLength":255,"description":"The ID of the tenant that created the link inside your system. If set, it can be used to fetch all links for a tenant."},"programId":{"type":"string","nullable":true,"description":"The ID of the program the short link is associated with."},"partnerId":{"type":"string","nullable":true,"description":"The ID of the partner the short link is associated with."},"prefix":{"type":"string","description":"The prefix of the short link slug for randomly-generated keys (e.g. if prefix is `/c/`, generated keys will be in the `/c/:key` format). Will be ignored if `key` is provided."},"trackConversion":{"type":"boolean","description":"Whether to track conversions for the short link. Defaults to `false` if not provided."},"archived":{"type":"boolean","description":"Whether the short link is archived. Defaults to `false` if not provided."},"publicStats":{"type":"boolean","description":"Deprecated: Use `dashboard` instead. Whether the short link's stats are publicly accessible. Defaults to `false` if not provided.","deprecated":true},"tagId":{"type":"string","nullable":true,"description":"The unique ID of the tag assigned to the short link. This field is deprecated – use `tagIds` instead.","deprecated":true},"tagIds":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}],"description":"The unique IDs of the tags assigned to the short link.","example":["clux0rgak00011..."]},"tagNames":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}],"description":"The unique name of the tags assigned to the short link (case insensitive)."},"folderId":{"type":"string","nullable":true,"description":"The unique ID existing folder to assign the short link to."},"comments":{"type":"string","nullable":true,"description":"The comments for the short link."},"expiresAt":{"type":"string","nullable":true,"description":"The date and time when the short link will expire at."},"expiredUrl":{"type":"string","nullable":true,"description":"The URL to redirect to when the short link has expired."},"password":{"type":"string","nullable":true,"description":"The password required to access the destination URL of the short link."},"proxy":{"type":"boolean","description":"Whether the short link uses Custom Link Previews feature. Defaults to `false` if not provided."},"title":{"type":"string","nullable":true,"description":"The custom link preview title (og:title). Will be used for Custom Link Previews if `proxy` is true. Learn more: https://d.to/og"},"description":{"type":"string","nullable":true,"description":"The custom link preview description (og:description). Will be used for Custom Link Previews if `proxy` is true. Learn more: https://d.to/og"},"image":{"type":"string","nullable":true,"description":"The custom link preview image (og:image). Will be used for Custom Link Previews if `proxy` is true. Learn more: https://d.to/og"},"video":{"type":"string","nullable":true,"description":"The custom link preview video (og:video). Will be used for Custom Link Previews if `proxy` is true. Learn more: https://d.to/og"},"rewrite":{"type":"boolean","description":"Whether the short link uses link cloaking. Defaults to `false` if not provided."},"ios":{"type":"string","nullable":true,"description":"The iOS destination URL for the short link for iOS device targeting."},"android":{"type":"string","nullable":true,"description":"The Android destination URL for the short link for Android device targeting."},"geo":{"$ref":"#/components/schemas/linkGeoTargeting"},"doIndex":{"type":"boolean","description":"Allow search engines to index your short link. Defaults to `false` if not provided. Learn more: https://d.to/noindex"},"utm_source":{"type":"string","nullable":true,"description":"The UTM source of the short link. If set, this will populate or override the UTM source in the destination URL."},"utm_medium":{"type":"string","nullable":true,"description":"The UTM medium of the short link. If set, this will populate or override the UTM medium in the destination URL."},"utm_campaign":{"type":"string","nullable":true,"description":"The UTM campaign of the short link. If set, this will populate or override the UTM campaign in the destination URL."},"utm_term":{"type":"string","nullable":true,"description":"The UTM term of the short link. If set, this will populate or override the UTM term in the destination URL."},"utm_content":{"type":"string","nullable":true,"description":"The UTM content of the short link. If set, this will populate or override the UTM content in the destination URL."},"ref":{"type":"string","nullable":true,"description":"The referral tag of the short link. If set, this will populate or override the `ref` query parameter in the destination URL."},"webhookIds":{"type":"array","nullable":true,"items":{"type":"string"},"description":"An array of webhook IDs to trigger when the link is clicked. These webhooks will receive click event data."},"testVariants":{"type":"array","nullable":true,"items":{"type":"object","properties":{"url":{"type":"string"},"percentage":{"type":"number","minimum":10,"maximum":90}},"required":["url","percentage"]},"minItems":2,"maxItems":4,"description":"An array of A/B test URLs and the percentage of traffic to send to each URL.","example":[{"url":"https://example.com/variant-1","percentage":50},{"url":"https://example.com/variant-2","percentage":50}]},"testStartedAt":{"type":"string","nullable":true,"description":"The date and time when the tests started."},"testCompletedAt":{"type":"string","nullable":true,"description":"The date and time when the tests were or will be completed."}},"required":["url"]}}}},"responses":{"200":{"description":"The upserted link","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LinkSchema"}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"422":{"$ref":"#/components/responses/422"},"429":{"$ref":"#/components/responses/429"},"500":{"$ref":"#/components/responses/500"}}}},"/analytics":{"get":{"operationId":"retrieveAnalytics","x-speakeasy-name-override":"retrieve","summary":"Retrieve analytics for a link, a domain, or the authenticated workspace.","description":"Retrieve analytics for a link, a domain, or the authenticated workspace. The response type depends on the `event` and `type` query parameters.","tags":["Analytics"],"security":[{"token":[]}],"parameters":[{"in":"query","name":"event","description":"The type of event to retrieve analytics for. Defaults to `clicks`.","schema":{"type":"string","enum":["clicks","leads","sales","composite"],"default":"clicks","description":"The type of event to retrieve analytics for. Defaults to `clicks`."}},{"in":"query","name":"groupBy","description":"The parameter to group the analytics data points by. Defaults to `count` if undefined.","schema":{"type":"string","enum":["count","timeseries","continents","regions","countries","cities","devices","browsers","os","trigger","triggers","referers","referer_urls","top_partners","top_links","top_urls","utm_sources","utm_mediums","utm_campaigns","utm_terms","utm_contents"],"default":"count","description":"The parameter to group the analytics data points by. Defaults to `count` if undefined."}},{"in":"query","name":"domain","description":"The domain to filter analytics for.","schema":{"type":"string","description":"The domain to filter analytics for."}},{"in":"query","name":"key","description":"The slug of the short link to retrieve analytics for. Must be used along with the corresponding `domain` of the short link to fetch analytics for a specific short link.","schema":{"type":"string","description":"The slug of the short link to retrieve analytics for. Must be used along with the corresponding `domain` of the short link to fetch analytics for a specific short link."}},{"in":"query","name":"linkId","description":"The unique ID of the short link on Dub to retrieve analytics for.","schema":{"type":"string","description":"The unique ID of the short link on Dub to retrieve analytics for."}},{"in":"query","name":"externalId","description":"The ID of the link in the your database. Must be prefixed with 'ext_' when passed as a query parameter.","schema":{"type":"string","description":"The ID of the link in the your database. Must be prefixed with 'ext_' when passed as a query parameter."}},{"in":"query","name":"tenantId","description":"The ID of the tenant that created the link inside your system.","schema":{"type":"string","description":"The ID of the tenant that created the link inside your system."}},{"in":"query","name":"programId","description":"The ID of the program to retrieve analytics for.","schema":{"type":"string","description":"The ID of the program to retrieve analytics for."}},{"in":"query","name":"partnerId","description":"The ID of the partner to retrieve analytics for.","schema":{"type":"string","description":"The ID of the partner to retrieve analytics for."}},{"in":"query","name":"customerId","description":"The ID of the customer to retrieve analytics for.","schema":{"type":"string","description":"The ID of the customer to retrieve analytics for."}},{"in":"query","name":"interval","description":"The interval to retrieve analytics for. If undefined, defaults to 24h.","schema":{"type":"string","enum":["24h","7d","30d","90d","1y","mtd","qtd","ytd","all"],"description":"The interval to retrieve analytics for. If undefined, defaults to 24h."}},{"in":"query","name":"start","description":"The start date and time when to retrieve analytics from. If set, takes precedence over `interval`.","schema":{"type":"string","description":"The start date and time when to retrieve analytics from. If set, takes precedence over `interval`."}},{"in":"query","name":"end","description":"The end date and time when to retrieve analytics from. If not provided, defaults to the current date. If set along with `start`, takes precedence over `interval`.","schema":{"type":"string","description":"The end date and time when to retrieve analytics from. If not provided, defaults to the current date. If set along with `start`, takes precedence over `interval`."}},{"in":"query","name":"timezone","description":"The IANA time zone code for aligning timeseries granularity (e.g. America/New_York). Defaults to UTC.","schema":{"type":"string","description":"The IANA time zone code for aligning timeseries granularity (e.g. America/New_York). Defaults to UTC.","example":"America/New_York","default":"UTC"}},{"in":"query","name":"country","description":"The country to retrieve analytics for. Must be passed as a 2-letter ISO 3166-1 country code. Learn more: https://d.to/geo","schema":{"$ref":"#/components/schemas/countryCode"}},{"in":"query","name":"city","description":"The city to retrieve analytics for.","schema":{"type":"string","description":"The city to retrieve analytics for.","example":"New York"}},{"in":"query","name":"region","description":"The ISO 3166-2 region code to retrieve analytics for.","schema":{"$ref":"#/components/schemas/regionCode"}},{"in":"query","name":"continent","description":"The continent to retrieve analytics for.","schema":{"$ref":"#/components/schemas/continentCode"}},{"in":"query","name":"device","description":"The device to retrieve analytics for.","schema":{"type":"string","description":"The device to retrieve analytics for.","example":"Desktop"}},{"in":"query","name":"browser","description":"The browser to retrieve analytics for.","schema":{"type":"string","description":"The browser to retrieve analytics for.","example":"Chrome"}},{"in":"query","name":"os","description":"The OS to retrieve analytics for.","schema":{"type":"string","description":"The OS to retrieve analytics for.","example":"Windows"}},{"in":"query","name":"trigger","description":"The trigger to retrieve analytics for. If undefined, return both QR and link clicks.","schema":{"type":"string","enum":["qr","link"],"description":"The trigger to retrieve analytics for. If undefined, return both QR and link clicks."}},{"in":"query","name":"referer","description":"The referer to retrieve analytics for.","schema":{"type":"string","description":"The referer to retrieve analytics for.","example":"google.com"}},{"in":"query","name":"refererUrl","description":"The full referer URL to retrieve analytics for.","schema":{"type":"string","description":"The full referer URL to retrieve analytics for.","example":"https://dub.co/blog"}},{"in":"query","name":"url","description":"The URL to retrieve analytics for.","schema":{"type":"string","description":"The URL to retrieve analytics for."}},{"in":"query","name":"tagId","description":"Deprecated. Use `tagIds` instead. The tag ID to retrieve analytics for.","schema":{"type":"string","description":"Deprecated. Use `tagIds` instead. The tag ID to retrieve analytics for.","deprecated":true}},{"in":"query","name":"tagIds","description":"The tag IDs to retrieve analytics for.","schema":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}],"description":"The tag IDs to retrieve analytics for."}},{"in":"query","name":"folderId","description":"The folder ID to retrieve analytics for. If not provided, return analytics for unsorted links.","schema":{"type":"string","description":"The folder ID to retrieve analytics for. If not provided, return analytics for unsorted links."}},{"in":"query","name":"qr","description":"Deprecated. Use the `trigger` field instead. Filter for QR code scans. If true, filter for QR codes only. If false, filter for links only. If undefined, return both.","schema":{"type":"boolean","description":"Deprecated. Use the `trigger` field instead. Filter for QR code scans. If true, filter for QR codes only. If false, filter for links only. If undefined, return both.","deprecated":true}},{"in":"query","name":"root","description":"Filter for root domains. If true, filter for domains only. If false, filter for links only. If undefined, return both.","schema":{"type":"boolean","description":"Filter for root domains. If true, filter for domains only. If false, filter for links only. If undefined, return both."}},{"in":"query","name":"utm_source","description":"The UTM source of the short link.","schema":{"type":"string","nullable":true,"maxLength":190,"description":"The UTM source of the short link."}},{"in":"query","name":"utm_medium","description":"The UTM medium of the short link.","schema":{"type":"string","nullable":true,"maxLength":190,"description":"The UTM medium of the short link."}},{"in":"query","name":"utm_campaign","description":"The UTM campaign of the short link.","schema":{"type":"string","nullable":true,"maxLength":190,"description":"The UTM campaign of the short link."}},{"in":"query","name":"utm_term","description":"The UTM term of the short link.","schema":{"type":"string","nullable":true,"maxLength":190,"description":"The UTM term of the short link."}},{"in":"query","name":"utm_content","description":"The UTM content of the short link.","schema":{"type":"string","nullable":true,"maxLength":190,"description":"The UTM content of the short link."}}],"responses":{"200":{"description":"Analytics data","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/AnalyticsCount"},{"type":"array","items":{"$ref":"#/components/schemas/AnalyticsTimeseries"},"title":"AnalyticsTimeseries"},{"type":"array","items":{"$ref":"#/components/schemas/AnalyticsContinents"},"title":"AnalyticsContinents"},{"type":"array","items":{"$ref":"#/components/schemas/AnalyticsCountries"},"title":"AnalyticsCountries"},{"type":"array","items":{"$ref":"#/components/schemas/AnalyticsRegions"},"title":"AnalyticsRegions"},{"type":"array","items":{"$ref":"#/components/schemas/AnalyticsCities"},"title":"AnalyticsCities"},{"type":"array","items":{"$ref":"#/components/schemas/AnalyticsDevices"},"title":"AnalyticsDevices"},{"type":"array","items":{"$ref":"#/components/schemas/AnalyticsBrowsers"},"title":"AnalyticsBrowsers"},{"type":"array","items":{"$ref":"#/components/schemas/AnalyticsOS"},"title":"AnalyticsOS"},{"type":"array","items":{"$ref":"#/components/schemas/AnalyticsTriggers"},"title":"AnalyticsTriggers"},{"type":"array","items":{"$ref":"#/components/schemas/AnalyticsReferers"},"title":"AnalyticsReferers"},{"type":"array","items":{"$ref":"#/components/schemas/AnalyticsRefererUrls"},"title":"AnalyticsRefererUrls"},{"type":"array","items":{"$ref":"#/components/schemas/AnalyticsTopLinks"},"title":"AnalyticsTopLinks"},{"type":"array","items":{"$ref":"#/components/schemas/AnalyticsTopUrls"},"title":"AnalyticsTopUrls"}]}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"422":{"$ref":"#/components/responses/422"},"429":{"$ref":"#/components/responses/429"},"500":{"$ref":"#/components/responses/500"}}}},"/events":{"get":{"operationId":"listEvents","x-speakeasy-name-override":"list","summary":"Retrieve a list of events","description":"Retrieve a paginated list of events for the authenticated workspace.","tags":["Events"],"security":[{"token":[]}],"parameters":[{"in":"query","name":"event","description":"The type of event to retrieve analytics for. Defaults to 'clicks'.","schema":{"type":"string","enum":["clicks","leads","sales"],"default":"clicks","description":"The type of event to retrieve analytics for. Defaults to 'clicks'."}},{"in":"query","name":"domain","description":"The domain to filter analytics for.","schema":{"type":"string","description":"The domain to filter analytics for."}},{"in":"query","name":"key","description":"The slug of the short link to retrieve analytics for. Must be used along with the corresponding `domain` of the short link to fetch analytics for a specific short link.","schema":{"type":"string","description":"The slug of the short link to retrieve analytics for. Must be used along with the corresponding `domain` of the short link to fetch analytics for a specific short link."}},{"in":"query","name":"linkId","description":"The unique ID of the short link on Dub to retrieve analytics for.","schema":{"type":"string","description":"The unique ID of the short link on Dub to retrieve analytics for."}},{"in":"query","name":"externalId","description":"The ID of the link in the your database. Must be prefixed with 'ext_' when passed as a query parameter.","schema":{"type":"string","description":"The ID of the link in the your database. Must be prefixed with 'ext_' when passed as a query parameter."}},{"in":"query","name":"tenantId","description":"The ID of the tenant that created the link inside your system.","schema":{"type":"string","description":"The ID of the tenant that created the link inside your system."}},{"in":"query","name":"programId","description":"The ID of the program to retrieve analytics for.","schema":{"type":"string","description":"The ID of the program to retrieve analytics for."}},{"in":"query","name":"partnerId","description":"The ID of the partner to retrieve analytics for.","schema":{"type":"string","description":"The ID of the partner to retrieve analytics for."}},{"in":"query","name":"customerId","description":"The ID of the customer to retrieve analytics for.","schema":{"type":"string","description":"The ID of the customer to retrieve analytics for."}},{"in":"query","name":"interval","description":"The interval to retrieve analytics for. If undefined, defaults to 24h.","schema":{"type":"string","enum":["24h","7d","30d","90d","1y","mtd","qtd","ytd","all"],"description":"The interval to retrieve analytics for. If undefined, defaults to 24h."}},{"in":"query","name":"start","description":"The start date and time when to retrieve analytics from. If set, takes precedence over `interval`.","schema":{"type":"string","description":"The start date and time when to retrieve analytics from. If set, takes precedence over `interval`."}},{"in":"query","name":"end","description":"The end date and time when to retrieve analytics from. If not provided, defaults to the current date. If set along with `start`, takes precedence over `interval`.","schema":{"type":"string","description":"The end date and time when to retrieve analytics from. If not provided, defaults to the current date. If set along with `start`, takes precedence over `interval`."}},{"in":"query","name":"timezone","description":"The IANA time zone code for aligning timeseries granularity (e.g. America/New_York). Defaults to UTC.","schema":{"type":"string","description":"The IANA time zone code for aligning timeseries granularity (e.g. America/New_York). Defaults to UTC.","example":"America/New_York","default":"UTC"}},{"in":"query","name":"country","description":"The country to retrieve analytics for. Must be passed as a 2-letter ISO 3166-1 country code. Learn more: https://d.to/geo","schema":{"$ref":"#/components/schemas/countryCode"}},{"in":"query","name":"city","description":"The city to retrieve analytics for.","schema":{"type":"string","description":"The city to retrieve analytics for.","example":"New York"}},{"in":"query","name":"region","description":"The ISO 3166-2 region code to retrieve analytics for.","schema":{"$ref":"#/components/schemas/regionCode"}},{"in":"query","name":"continent","description":"The continent to retrieve analytics for.","schema":{"$ref":"#/components/schemas/continentCode"}},{"in":"query","name":"device","description":"The device to retrieve analytics for.","schema":{"type":"string","description":"The device to retrieve analytics for.","example":"Desktop"}},{"in":"query","name":"browser","description":"The browser to retrieve analytics for.","schema":{"type":"string","description":"The browser to retrieve analytics for.","example":"Chrome"}},{"in":"query","name":"os","description":"The OS to retrieve analytics for.","schema":{"type":"string","description":"The OS to retrieve analytics for.","example":"Windows"}},{"in":"query","name":"trigger","description":"The trigger to retrieve analytics for. If undefined, return both QR and link clicks.","schema":{"type":"string","enum":["qr","link"],"description":"The trigger to retrieve analytics for. If undefined, return both QR and link clicks."}},{"in":"query","name":"referer","description":"The referer to retrieve analytics for.","schema":{"type":"string","description":"The referer to retrieve analytics for.","example":"google.com"}},{"in":"query","name":"refererUrl","description":"The full referer URL to retrieve analytics for.","schema":{"type":"string","description":"The full referer URL to retrieve analytics for.","example":"https://dub.co/blog"}},{"in":"query","name":"url","description":"The URL to retrieve analytics for.","schema":{"type":"string","description":"The URL to retrieve analytics for."}},{"in":"query","name":"tagId","description":"Deprecated. Use `tagIds` instead. The tag ID to retrieve analytics for.","schema":{"type":"string","description":"Deprecated. Use `tagIds` instead. The tag ID to retrieve analytics for.","deprecated":true}},{"in":"query","name":"tagIds","description":"The tag IDs to retrieve analytics for.","schema":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}],"description":"The tag IDs to retrieve analytics for."}},{"in":"query","name":"folderId","description":"The folder ID to retrieve analytics for. If not provided, return analytics for unsorted links.","schema":{"type":"string","description":"The folder ID to retrieve analytics for. If not provided, return analytics for unsorted links."}},{"in":"query","name":"qr","description":"Deprecated. Use the `trigger` field instead. Filter for QR code scans. If true, filter for QR codes only. If false, filter for links only. If undefined, return both.","schema":{"type":"boolean","description":"Deprecated. Use the `trigger` field instead. Filter for QR code scans. If true, filter for QR codes only. If false, filter for links only. If undefined, return both.","deprecated":true}},{"in":"query","name":"root","description":"Filter for root domains. If true, filter for domains only. If false, filter for links only. If undefined, return both.","schema":{"type":"boolean","description":"Filter for root domains. If true, filter for domains only. If false, filter for links only. If undefined, return both."}},{"in":"query","name":"utm_source","description":"The UTM source of the short link.","schema":{"type":"string","nullable":true,"maxLength":190,"description":"The UTM source of the short link."}},{"in":"query","name":"utm_medium","description":"The UTM medium of the short link.","schema":{"type":"string","nullable":true,"maxLength":190,"description":"The UTM medium of the short link."}},{"in":"query","name":"utm_campaign","description":"The UTM campaign of the short link.","schema":{"type":"string","nullable":true,"maxLength":190,"description":"The UTM campaign of the short link."}},{"in":"query","name":"utm_term","description":"The UTM term of the short link.","schema":{"type":"string","nullable":true,"maxLength":190,"description":"The UTM term of the short link."}},{"in":"query","name":"utm_content","description":"The UTM content of the short link.","schema":{"type":"string","nullable":true,"maxLength":190,"description":"The UTM content of the short link."}},{"in":"query","name":"page","schema":{"type":"number","default":1}},{"in":"query","name":"limit","schema":{"type":"number","default":100}},{"in":"query","name":"sortOrder","description":"The sort order. The default is `desc`.","schema":{"type":"string","enum":["asc","desc"],"default":"desc","description":"The sort order. The default is `desc`."}},{"in":"query","name":"sortBy","description":"The field to sort the events by. The default is `timestamp`.","schema":{"type":"string","enum":["timestamp"],"default":"timestamp","description":"The field to sort the events by. The default is `timestamp`."}},{"in":"query","name":"order","description":"DEPRECATED. Use `sortOrder` instead.","schema":{"type":"string","enum":["asc","desc"],"default":"desc","description":"DEPRECATED. Use `sortOrder` instead.","deprecated":true}}],"responses":{"200":{"description":"A list of events","content":{"application/json":{"schema":{"type":"array","items":{"oneOf":[{"$ref":"#/components/schemas/ClickEvent"},{"$ref":"#/components/schemas/LeadEvent"},{"$ref":"#/components/schemas/SaleEvent"}],"discriminator":{"propertyName":"event","mapping":{"click":"#/components/schemas/ClickEvent","lead":"#/components/schemas/LeadEvent","sale":"#/components/schemas/SaleEvent"}}}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"422":{"$ref":"#/components/responses/422"},"429":{"$ref":"#/components/responses/429"},"500":{"$ref":"#/components/responses/500"}}}},"/tags":{"post":{"operationId":"createTag","x-speakeasy-name-override":"create","summary":"Create a tag","description":"Create a tag for the authenticated workspace.","tags":["Tags"],"security":[{"token":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":50,"description":"The name of the tag to create."},"color":{"type":"string","enum":["red","yellow","green","blue","purple","pink","brown"],"description":"The color of the tag. If not provided, a random color will be used from the list: red, yellow, green, blue, purple, pink, brown."},"tag":{"type":"string","minLength":1,"description":"The name of the tag to create.","deprecated":true}}}}}},"responses":{"201":{"description":"The created tag","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagSchema"}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"422":{"$ref":"#/components/responses/422"},"429":{"$ref":"#/components/responses/429"},"500":{"$ref":"#/components/responses/500"}}},"get":{"operationId":"getTags","x-speakeasy-name-override":"list","summary":"Retrieve a list of tags","description":"Retrieve a list of tags for the authenticated workspace.","tags":["Tags"],"security":[{"token":[]}],"parameters":[{"in":"query","name":"sortBy","description":"The field to sort the tags by.","schema":{"type":"string","enum":["name","createdAt"],"default":"name","description":"The field to sort the tags by."}},{"in":"query","name":"sortOrder","description":"The order to sort the tags by.","schema":{"type":"string","enum":["asc","desc"],"default":"asc","description":"The order to sort the tags by."}},{"in":"query","name":"search","description":"The search term to filter the tags by.","schema":{"type":"string","description":"The search term to filter the tags by."}},{"in":"query","name":"ids","description":"IDs of tags to filter by.","schema":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}],"description":"IDs of tags to filter by."}},{"in":"query","name":"page","description":"The page number for pagination.","schema":{"type":"number","minimum":0,"exclusiveMinimum":true,"default":1,"description":"The page number for pagination.","example":1}},{"in":"query","name":"pageSize","description":"The number of items per page.","schema":{"type":"number","minimum":0,"exclusiveMinimum":true,"maximum":100,"default":100,"description":"The number of items per page.","example":50}}],"responses":{"200":{"description":"A list of tags","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TagSchema"}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"422":{"$ref":"#/components/responses/422"},"429":{"$ref":"#/components/responses/429"},"500":{"$ref":"#/components/responses/500"}}}},"/tags/{id}":{"patch":{"operationId":"updateTag","x-speakeasy-name-override":"update","x-speakeasy-max-method-params":2,"summary":"Update a tag","description":"Update a tag in the workspace.","tags":["Tags"],"security":[{"token":[]}],"parameters":[{"in":"path","name":"id","description":"The ID of the tag to update.","schema":{"type":"string","description":"The ID of the tag to update."},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":50,"description":"The name of the tag to create."},"color":{"type":"string","enum":["red","yellow","green","blue","purple","pink","brown"],"description":"The color of the tag. If not provided, a random color will be used from the list: red, yellow, green, blue, purple, pink, brown."},"tag":{"type":"string","minLength":1,"description":"The name of the tag to create.","deprecated":true}}}}}},"responses":{"200":{"description":"The updated tag.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagSchema"}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"422":{"$ref":"#/components/responses/422"},"429":{"$ref":"#/components/responses/429"},"500":{"$ref":"#/components/responses/500"}}},"delete":{"operationId":"deleteTag","x-speakeasy-name-override":"delete","x-speakeasy-max-method-params":1,"summary":"Delete a tag","description":"Delete a tag from the workspace. All existing links will still work, but they will no longer be associated with this tag.","tags":["Tags"],"security":[{"token":[]}],"parameters":[{"in":"path","name":"id","description":"The ID of the tag to delete.","schema":{"type":"string","description":"The ID of the tag to delete."},"required":true}],"responses":{"200":{"description":"The deleted tag ID.","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"The ID of the deleted tag."}},"required":["id"]}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"422":{"$ref":"#/components/responses/422"},"429":{"$ref":"#/components/responses/429"},"500":{"$ref":"#/components/responses/500"}}}},"/folders":{"post":{"operationId":"createFolder","x-speakeasy-name-override":"create","summary":"Create a folder","description":"Create a folder for the authenticated workspace.","tags":["Folders"],"security":[{"token":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","maxLength":190,"description":"The name of the folder."},"accessLevel":{"type":"string","nullable":true,"enum":["write","read",null],"default":null,"description":"The access level of the folder within the workspace."}},"required":["name"]}}}},"responses":{"201":{"description":"The created folder","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FolderSchema"}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"422":{"$ref":"#/components/responses/422"},"429":{"$ref":"#/components/responses/429"},"500":{"$ref":"#/components/responses/500"}}},"get":{"operationId":"listFolders","x-speakeasy-name-override":"list","summary":"Retrieve a list of folders","description":"Retrieve a list of folders for the authenticated workspace.","tags":["Folders"],"security":[{"token":[]}],"parameters":[{"in":"query","name":"search","description":"The search term to filter the folders by.","schema":{"type":"string","description":"The search term to filter the folders by."}},{"in":"query","name":"page","description":"The page number for pagination.","schema":{"type":"number","minimum":0,"exclusiveMinimum":true,"default":1,"description":"The page number for pagination.","example":1}},{"in":"query","name":"pageSize","description":"The number of items per page.","schema":{"type":"number","minimum":0,"exclusiveMinimum":true,"maximum":50,"default":50,"description":"The number of items per page.","example":50}}],"responses":{"200":{"description":"A list of folders","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FolderSchema"}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"422":{"$ref":"#/components/responses/422"},"429":{"$ref":"#/components/responses/429"},"500":{"$ref":"#/components/responses/500"}}}},"/folders/{id}":{"patch":{"operationId":"updateFolder","x-speakeasy-name-override":"update","x-speakeasy-max-method-params":2,"summary":"Update a folder","description":"Update a folder in the workspace.","tags":["Folders"],"security":[{"token":[]}],"parameters":[{"in":"path","name":"id","description":"The ID of the folder to update.","schema":{"type":"string","description":"The ID of the folder to update."},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","maxLength":190,"description":"The name of the folder."},"accessLevel":{"type":"string","nullable":true,"enum":["write","read",null],"default":null,"description":"The access level of the folder within the workspace."}}}}}},"responses":{"200":{"description":"The updated folder.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FolderSchema"}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"422":{"$ref":"#/components/responses/422"},"429":{"$ref":"#/components/responses/429"},"500":{"$ref":"#/components/responses/500"}}},"delete":{"operationId":"deleteFolder","x-speakeasy-name-override":"delete","x-speakeasy-max-method-params":1,"summary":"Delete a folder","description":"Delete a folder from the workspace. All existing links will still work, but they will no longer be associated with this folder.","tags":["Folders"],"security":[{"token":[]}],"parameters":[{"in":"path","name":"id","description":"The ID of the folder to delete.","schema":{"type":"string","description":"The ID of the folder to delete."},"required":true}],"responses":{"200":{"description":"The deleted folder ID.","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"The ID of the deleted folder."}},"required":["id"]}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"422":{"$ref":"#/components/responses/422"},"429":{"$ref":"#/components/responses/429"},"500":{"$ref":"#/components/responses/500"}}}},"/domains":{"post":{"operationId":"createDomain","x-speakeasy-name-override":"create","summary":"Create a domain","description":"Create a domain for the authenticated workspace.","tags":["Domains"],"security":[{"token":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"slug":{"type":"string","minLength":1,"maxLength":190,"description":"Name of the domain.","example":"acme.com"},"expiredUrl":{"type":"string","nullable":true,"description":"Redirect users to a specific URL when any link under this domain has expired.","example":"https://acme.com/expired"},"notFoundUrl":{"type":"string","nullable":true,"description":"Redirect users to a specific URL when a link under this domain doesn't exist.","example":"https://acme.com/not-found"},"archived":{"type":"boolean","default":false,"description":"Whether to archive this domain. `false` will unarchive a previously archived domain.","example":false},"placeholder":{"type":"string","nullable":true,"maxLength":100,"description":"Provide context to your teammates in the link creation modal by showing them an example of a link to be shortened.","example":"https://dub.co/help/article/what-is-dub"},"logo":{"nullable":true,"anyOf":[{"type":"string","pattern":"^data:image\\/(png|jpeg|jpg|gif|webp);base64,"},{"type":"string","format":"uri"}],"description":"The logo of the domain."},"assetLinks":{"type":"string","nullable":true,"description":"assetLinks.json configuration file (for deep link support on Android)."},"appleAppSiteAssociation":{"type":"string","nullable":true,"description":"apple-app-site-association configuration file (for deep link support on iOS)."}},"required":["slug"]}}}},"responses":{"201":{"description":"The domain was created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DomainSchema"}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"422":{"$ref":"#/components/responses/422"},"429":{"$ref":"#/components/responses/429"},"500":{"$ref":"#/components/responses/500"}}},"get":{"operationId":"listDomains","x-speakeasy-name-override":"list","x-speakeasy-pagination":{"type":"offsetLimit","inputs":[{"name":"page","in":"parameters","type":"page"},{"name":"pageSize","in":"parameters","type":"limit"}],"outputs":{"results":"$"}},"summary":"Retrieve a list of domains","description":"Retrieve a list of domains associated with the authenticated workspace.","tags":["Domains"],"security":[{"token":[]}],"parameters":[{"in":"query","name":"archived","description":"Whether to include archived domains in the response. Defaults to `false` if not provided.","schema":{"type":"boolean","default":"false","description":"Whether to include archived domains in the response. Defaults to `false` if not provided."}},{"in":"query","name":"search","description":"The search term to filter the domains by.","schema":{"type":"string","description":"The search term to filter the domains by."}},{"in":"query","name":"page","description":"The page number for pagination.","schema":{"type":"number","minimum":0,"exclusiveMinimum":true,"default":1,"description":"The page number for pagination.","example":1}},{"in":"query","name":"pageSize","description":"The number of items per page.","schema":{"type":"number","minimum":0,"exclusiveMinimum":true,"maximum":50,"default":50,"description":"The number of items per page.","example":50}}],"responses":{"200":{"description":"The domains were retrieved.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DomainSchema"}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"422":{"$ref":"#/components/responses/422"},"429":{"$ref":"#/components/responses/429"},"500":{"$ref":"#/components/responses/500"}}}},"/domains/{slug}":{"patch":{"operationId":"updateDomain","x-speakeasy-name-override":"update","x-speakeasy-max-method-params":2,"summary":"Update a domain","description":"Update a domain for the authenticated workspace.","tags":["Domains"],"security":[{"token":[]}],"parameters":[{"in":"path","name":"slug","description":"The domain name.","schema":{"type":"string","description":"The domain name.","example":"acme.com"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"slug":{"type":"string","minLength":1,"maxLength":190,"description":"Name of the domain.","example":"acme.com"},"expiredUrl":{"type":"string","nullable":true,"description":"Redirect users to a specific URL when any link under this domain has expired.","example":"https://acme.com/expired"},"notFoundUrl":{"type":"string","nullable":true,"description":"Redirect users to a specific URL when a link under this domain doesn't exist.","example":"https://acme.com/not-found"},"archived":{"type":"boolean","default":false,"description":"Whether to archive this domain. `false` will unarchive a previously archived domain.","example":false},"placeholder":{"type":"string","nullable":true,"maxLength":100,"description":"Provide context to your teammates in the link creation modal by showing them an example of a link to be shortened.","example":"https://dub.co/help/article/what-is-dub"},"logo":{"nullable":true,"anyOf":[{"type":"string","pattern":"^data:image\\/(png|jpeg|jpg|gif|webp);base64,"},{"type":"string","format":"uri"}],"description":"The logo of the domain."},"assetLinks":{"type":"string","nullable":true,"description":"assetLinks.json configuration file (for deep link support on Android)."},"appleAppSiteAssociation":{"type":"string","nullable":true,"description":"apple-app-site-association configuration file (for deep link support on iOS)."}}}}}},"responses":{"200":{"description":"The domain was updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DomainSchema"}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"422":{"$ref":"#/components/responses/422"},"429":{"$ref":"#/components/responses/429"},"500":{"$ref":"#/components/responses/500"}}},"delete":{"operationId":"deleteDomain","x-speakeasy-name-override":"delete","x-speakeasy-max-method-params":1,"summary":"Delete a domain","description":"Delete a domain from a workspace. It cannot be undone. This will also delete all the links associated with the domain.","tags":["Domains"],"security":[{"token":[]}],"parameters":[{"in":"path","name":"slug","description":"The domain name.","schema":{"type":"string","description":"The domain name.","example":"acme.com"},"required":true}],"responses":{"200":{"description":"The domain was deleted.","content":{"application/json":{"schema":{"type":"object","properties":{"slug":{"type":"string","description":"The domain name.","example":"acme.com"}},"required":["slug"]}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"422":{"$ref":"#/components/responses/422"},"429":{"$ref":"#/components/responses/429"},"500":{"$ref":"#/components/responses/500"}}}},"/domains/register":{"post":{"operationId":"registerDomain","x-speakeasy-name-override":"register","summary":"Register a domain","description":"Register a domain for the authenticated workspace. Only available for Enterprise Plans.","tags":["Domains"],"security":[{"token":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"domain":{"type":"string","pattern":".link$","minLength":1,"description":"The domain to claim. We only support .link domains for now.","example":"acme.link"}},"required":["domain"]}}}},"responses":{"201":{"description":"The domain was registered.","content":{"application/json":{"schema":{"type":"object","properties":{"domain":{"type":"string","description":"The domain name."},"status":{"type":"string","description":"The status of the domain registration."},"expiration":{"type":"number","nullable":true,"description":"The expiration timestamp of the domain (Unix timestamp in milliseconds)."}},"required":["domain","status","expiration"]}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"422":{"$ref":"#/components/responses/422"},"429":{"$ref":"#/components/responses/429"},"500":{"$ref":"#/components/responses/500"}}}},"/domains/status":{"get":{"operationId":"checkDomainStatus","x-speakeasy-name-override":"checkStatus","summary":"Check the availability of one or more domains","description":"Check if a domain name is available for purchase. You can check multiple domains at once.","tags":["Domains"],"security":[{"token":[]}],"parameters":[{"in":"query","name":"domains","description":"The domains to search. We only support .link domains for now.","style":"form","explode":false,"schema":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}],"description":"The domains to search. We only support .link domains for now."},"required":true}],"responses":{"200":{"description":"The domain status was retrieved.","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"domain":{"type":"string","description":"The domain name."},"available":{"type":"boolean","description":"Whether the domain is available."},"price":{"type":"string","nullable":true,"description":"The price description."},"premium":{"type":"boolean","nullable":true,"description":"Whether the domain is a premium domain."}},"required":["domain","available","price","premium"]}}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"422":{"$ref":"#/components/responses/422"},"429":{"$ref":"#/components/responses/429"},"500":{"$ref":"#/components/responses/500"}}}},"/track/lead":{"post":{"operationId":"trackLead","x-speakeasy-name-override":"lead","summary":"Track a lead","description":"Track a lead for a short link.","tags":["Track"],"security":[{"token":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"clickId":{"type":"string","minLength":1,"description":"The unique ID of the click that the lead conversion event is attributed to. You can read this value from `dub_id` cookie."},"eventName":{"type":"string","minLength":1,"maxLength":255,"description":"The name of the lead event to track. Can also be used as a unique identifier to associate a given lead event for a customer for a subsequent sale event (via the `leadEventName` prop in `/track/sale`).","example":"Sign up"},"customerExternalId":{"type":"string","maxLength":100,"description":"The unique ID of the customer in your system. Will be used to identify and attribute all future events to this customer."},"customerName":{"type":"string","nullable":true,"maxLength":100,"default":null,"description":"The name of the customer. If not passed, a random name will be generated (e.g. “Big Red Caribou”)."},"customerEmail":{"type":"string","nullable":true,"format":"email","maxLength":100,"default":null,"description":"The email address of the customer."},"customerAvatar":{"type":"string","nullable":true,"default":null,"description":"The avatar URL of the customer."},"eventQuantity":{"type":"number","nullable":true,"description":"The numerical value associated with this lead event (e.g., number of provisioned seats in a free trial). If defined as N, the lead event will be tracked N times."},"mode":{"type":"string","enum":["async","wait"],"default":"async","description":"The mode to use for tracking the lead event. `async` will not block the request; `wait` will block the request until the lead event is fully recorded in Dub."},"metadata":{"type":"object","nullable":true,"additionalProperties":{},"default":null,"description":"Additional metadata to be stored with the lead event. Max 10,000 characters."}},"required":["clickId","eventName","customerExternalId"]}}}},"responses":{"200":{"description":"A lead was tracked.","content":{"application/json":{"schema":{"type":"object","properties":{"click":{"type":"object","properties":{"id":{"type":"string"}},"required":["id"]},"customer":{"type":"object","properties":{"name":{"type":"string","nullable":true},"email":{"type":"string","nullable":true},"avatar":{"type":"string","nullable":true},"externalId":{"type":"string","nullable":true}},"required":["name","email","avatar","externalId"]}},"required":["click","customer"]}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"422":{"$ref":"#/components/responses/422"},"429":{"$ref":"#/components/responses/429"},"500":{"$ref":"#/components/responses/500"}}}},"/track/sale":{"post":{"operationId":"trackSale","x-speakeasy-name-override":"sale","summary":"Track a sale","description":"Track a sale for a short link.","tags":["Track"],"security":[{"token":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"customerExternalId":{"type":"string","maxLength":100,"description":"The unique ID of the customer in your system. Will be used to identify and attribute all future events to this customer."},"amount":{"type":"integer","minimum":0,"description":"The amount of the sale in cents (for all two-decimal currencies). If the sale is in a zero-decimal currency, pass the full integer value (e.g. `1437` JPY). Learn more: https://d.to/currency"},"currency":{"type":"string","default":"usd","description":"The currency of the sale. Accepts ISO 4217 currency codes. Sales will be automatically converted and stored as USD at the latest exchange rates. Learn more: https://d.to/currency"},"eventName":{"type":"string","maxLength":255,"default":"Purchase","description":"The name of the sale event. Recommended format: `Invoice paid` or `Subscription created`.","example":"Invoice paid"},"paymentProcessor":{"type":"string","enum":["stripe","shopify","polar","paddle","custom"],"description":"The payment processor via which the sale was made."},"invoiceId":{"type":"string","nullable":true,"default":null,"description":"The invoice ID of the sale. Can be used as a idempotency key – only one sale event can be recorded for a given invoice ID."},"leadEventName":{"type":"string","nullable":true,"default":null,"description":"The name of the lead event that occurred before the sale (case-sensitive). This is used to associate the sale event with a particular lead event (instead of the latest lead event for a link-customer combination, which is the default behavior).","example":"Cloned template 1481267"},"metadata":{"type":"object","nullable":true,"additionalProperties":{},"default":null,"description":"Additional metadata to be stored with the sale event. Max 10,000 characters when stringified."}},"required":["customerExternalId","amount","paymentProcessor"]}}}},"responses":{"200":{"description":"A sale was tracked.","content":{"application/json":{"schema":{"type":"object","properties":{"eventName":{"type":"string"},"customer":{"type":"object","nullable":true,"properties":{"id":{"type":"string"},"name":{"type":"string","nullable":true},"email":{"type":"string","nullable":true},"avatar":{"type":"string","nullable":true},"externalId":{"type":"string","nullable":true}},"required":["id","name","email","avatar","externalId"]},"sale":{"type":"object","nullable":true,"properties":{"amount":{"type":"number"},"currency":{"type":"string"},"paymentProcessor":{"type":"string"},"invoiceId":{"type":"string","nullable":true},"metadata":{"type":"object","nullable":true,"additionalProperties":{}}},"required":["amount","currency","paymentProcessor","invoiceId","metadata"]}},"required":["eventName","customer","sale"]}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"422":{"$ref":"#/components/responses/422"},"429":{"$ref":"#/components/responses/429"},"500":{"$ref":"#/components/responses/500"}}}},"/customers":{"get":{"operationId":"getCustomers","x-speakeasy-name-override":"list","summary":"Retrieve a list of customers","description":"Retrieve a list of customers for the authenticated workspace.","tags":["Customers"],"security":[{"token":[]}],"parameters":[{"in":"query","name":"email","description":"A case-sensitive filter on the list based on the customer's `email` field. The value must be a string. Takes precedence over `externalId`.","schema":{
[...]
